<td>{{ moment.unix(timestamp).format('MMMM Do YYYY, h:mm:ss a') }}</td>
<td class="center">{{ user.user_first_name }} {{ user.user_last_name }}</td>
<td class="center">{{ action_id }}</td>
<td class="">{{ (typeof company_id !== 'undefined') && company_id !== 0 ? company_id : '-' }}</td>
<td class="">{{ typeof branch_id !== 'undefined' ? branch_id : '-' }}</td>
<td class="center">
    <a class="btn btn-success" href="#">
        <i class="icon-zoom-in icon-white"></i>
    </a>
    <a class="btn btn-info" href="#">
        <i class="icon-edit icon-white"></i>
    </a>
    <a class="btn btn-danger" href="#">
        <i class="icon-trash icon-white"></i>
    </a>
</td>
