<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>Filters</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-down"></i></a>
            </div>
        </div>
        <div class="box-content" style="display: none;">
            <form class="activities-filter form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="filter-name">Name</label>
                  <div class="controls">
                    <input type="text" id="filter-first-name" placeholder="first name"> <input type="text" id="filter-last-name" placeholder="last name">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="filter-action">Action</label>
                  <div class="controls">
                    <select id="filter-action" multiple data-rel="chosen"></select>
                  </div>
                  <label class="control-label" for="filter-action-preset">Action Presets</label>
                  <div class="controls">
                    <a class="btn filter-action-preset" data-filter="QR,Feedback,Check-In,Walk-In">Challenge Actions</a> <a class="btn filter-action-preset" data-filter="Add Credits,Credit Use From Challenge">Credit Actions</a>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="filter-date">Date</label>
                  <div class="controls">
                    <input type="text" class="input-xlarge datepicker" id="filter-date-from" value="" placeholder="from"> <input type="text" class="input-xlarge datepicker" id="filter-date-to" value="" placeholder="to">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="filter-company">Company</label>
                  <div class="controls">
                    <input type="text" id="filter-company">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="filter-branch">Branch</label>
                  <div class="controls">
                    <input type="text" id="filter-branch">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="filter-challenge">Challenge</label>
                  <div class="controls">
                    <input type="text" id="filter-challenge">
                  </div>
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Apply</button>
                  <button type="reset" class="btn">Cancel</button>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>