<div class="modal hide fade" role="dialog" aria-labelledby="add-credits-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add-credits-modal-label">Add credits to {{ company_name }}</h3>
  </div>
  <div class="modal-body">
    <input type="number" class="credits-to-add" value="0" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary add-credits-save" data-dismiss="modal" >Save changes</button>
  </div>
</div>