<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa-icon-sitemap"></i><span class="break"></span>Companies</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
          <div class="companies-pagination"></div>
          <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created At</th>
                    <th>Credits</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="company-list"></tbody>
          </table>
          <div class="companies-pagination"></div>
        </div>
    </div>
</div>

<script type="text/html" id="companies-pagination-template">

  <div class="pagination">
      <ul>
          [[ if (firstPage != currentPage) { ]]
              <li><a href="#" class="serverfirst">First</a></li>
          [[ } else { ]]
              <li><span>First</span></li>
          [[ } ]]
          [[ if (currentPage > firstPage) { ]]
              <li><a href="#" class="serverprevious">Previous</a></li>
          [[ } else { ]]
              <li><span>Previous</span></li>
          [[ } ]]

          [[ _.each (pageSet, function (p) { ]]
          [[ if (currentPage == p) { ]]
              <li class="active"><span>{{ p }}</span></li>
          [[ } else { ]]
              <li><a href="#" class="page">{{ p }}</a></li>
          [[ } ]]
          [[ }); ]]

          [[ if(!pageSet.length) { ]]
            <li class="active"><span>1</span></li>
          [[ } ]]

          [[ if (currentPage < totalPages) { ]]
              <li><a href="#" class="servernext">Next</a></li>
          [[ } else { ]]
              <li><span>Next</span></li>
          [[ } ]]

          [[ if (totalPages != currentPage) { ]]
              <li><a href="#" class="serverlast">Last</a></li>
          [[ } else { ]]
              <li><span>Last</span></li>
          [[ } ]]
      </ul>
  </div>

</script>