<td class="center">{{ id }}</td>
<td class="center">{{ title }}</td>
<td class="center">{{ status }}</td>
<td class="center">{{ data }}</td>
<td class="center">{{ typeof company !== 'undefined' && company ? company.company_name : "" }}</td>
<td class="center">{{ typeof branch !== 'undefined' && branch ? branch.title : "" }}</td>
<td class="center">{{ typeof challenge !== 'undefined' && challenge ? challenge.detail.name : "" }}</td>
<td class="center">{{ typeof created_at !== 'undefined' && created_at ? moment.unix(created_at).format('MMMM Do YYYY, h:mm:ss a') : "" }}</td>
<td class="center">{{ typeof installed_at !== 'undefined' && installed_at ? moment.unix(installed_at).format('MMMM Do YYYY, h:mm:ss a') : "" }}</td>
<td class="center"></td>
<td class="center"></td>
