<div class="pagination">
  <ul>
    <% if (firstPage != currentPage) { %>
        <li><a href="#" class="serverfirst">First</a></li>
    <% } else { %>
        <li><span>First</span></li>
    <% } %>
    <% if (currentPage > firstPage) { %>
        <li><a href="#" class="serverprevious">Previous</a></li>
    <% } else { %>
        <li><span>Previous</span></li>
    <% } %>

    <% _.each (pageSet, function (p) { %>
    <% if (currentPage == p) { %>
        <li class="active"><span>{{ p }}</span></li>
    <% } else { %>
        <li><a href="#" class="page">{{ p }}</a></li>
    <% } %>
    <% }); %>

    <% if(!pageSet.length) { %>
      <li class="active"><span>1</span></li>
    <% } %>

    <% if (currentPage < totalPages) { %>
        <li><a href="#" class="servernext">Next</a></li>
    <% } else { %>
        <li><span>Next</span></li>
    <% } %>

    <% if (totalPages != currentPage) { %>
        <li><a href="#" class="serverlast">Last</a></li>
    <% } else { %>
        <li><span>Last</span></li>
    <% } %>
  </ul>
</div>