<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa-icon-comments"></i><span class="break"></span>Challenges</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
          <div class="rewards-filter-container"></div>
          <div class="pagination-container"></div>
          <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th>Name <a href="#" class="sort-name sort-desc icon-chevron-down"></a></th>
                    <th>Point Required <a href="#" class="sort-point-required sort-desc icon-chevron-down"></a></th>
                    <th>Amount <a href="#" class="sort-amount sort-desc icon-chevron-down"></a></th>
                    <th>Amount Redeemed <a href="#" class="sort-amount-redeemed sort-desc icon-chevron-down"></a></th>
                    <th>Can Play Once <a href="#" class="sort-can-play-once sort-desc icon-chevron-down"></a></th>
                </tr>
            </thead>
            <tbody id="reward-list"></tbody>
          </table>
          <div class="pagination-container"></div>
        </div>
    </div><!--/span-->
</div><!--/row-->