<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa-icon-hdd"></i><span class="break"></span>Reward Machines</h2>
            <!-- <div class="box-icon">
                <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="icon-remove"></i></a>
            </div> -->
        </div>
        <div class="box-content">
          <div class="reward-machines-filter-container"></div>
          <div class="pagination-container"></div>
          <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th>ID <a href="#" class="sort-id sort-desc icon-chevron-down"></a></th>
                    <th>Name <a href="#" class="sort-name sort-desc icon-chevron-down"></a></th>
                    <th>Description </th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody id="reward-machine-list"></tbody>
          </table>
          <div class="pagination-container"></div>
        </div>
    </div>
    <div id="reward-machine-add-container"></div>
</div>