<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="fa-icon-plus-sign"></i><span class="break"></span>Add Reward Machine</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-down"></i></a>
            </div>
        </div>
        <div class="box-content" style="display: none">
            <form class="reward-machine-add-form form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="reward-machine-add-name">Name</label>
                  <div class="controls">
                    <input name="name" class="input-xlarge" type="text" id="reward-machine-add-name" value="">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="reward-machine-add-description">Description</label>
                  <div class="controls">
                    <input name="description" class="input-xlarge" type="text" id="reward-machine-add-description" value="">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="reward-machine-add-location">Location</label>
                  <div class="controls">
                    <input name="location-latitude" class="input-normal" type="text" id="reward-machine-add-location-latitude" placeholder="latitude" value="">
                    <input name="location-longitude" class="input-normal" type="text" id="reward-machine-add-location-longitude" placeholder="longitude" value="">
                  </div>
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">Add Reward Machine</button>
                  <button type="reset" class="btn">Cancel</button>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>