<div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <li class="users-tab-menu"><a href="#/users"><i class="fa-icon-user icon-white"></i><span class="hidden-tablet"> Users</span></a></li>
        <li class="companies-tab-menu"><a href="#/companies"><i class="fa-icon-sitemap icon-white"></i><span class="hidden-tablet"> Companies</span></a></li>
        <li class="challenges-tab-menu"><a href="#/challenges"><i class="fa-icon-trophy icon-white"></i><span class="hidden-tablet"> Challenges</span></a></li>
        <li class="rewards-tab-menu"><a href="#/rewards"><i class="fa-icon-gift icon-white"></i><span class="hidden-tablet"> Rewards</span></a></li>
        <li class="devices-tab-menu"><a href="#/devices"><i class="fa-icon-hdd icon-white"></i><span class="hidden-tablet"> Devices</span></a></li>
        <li class="activities-tab-menu"><a href="#/activities"><i class="fa-icon-comments icon-white"></i><span class="hidden-tablet"> Activities</span></a></li>
        <li class="reward-machines-tab-menu"><a href="#/reward-machines"><i class="fa-icon-comments icon-white"></i><span class="hidden-tablet"> Reward Machines</span></a></li>
    </ul>
</div>
