<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>Filters</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="sonar-codes-filter form-horizontal">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="filter-type">Type</label>
                  <div class="controls">
                    <select id="filter-type">
                      <option value="action">Action</option>
                      <option value="reward">Reward</option>
                    </select>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="filter-code">Code</label>
                  <div class="controls">
                    <input type="text" id="filter-code" placeholder="">
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>