<td>{{ user_first_name }} {{ user_last_name }}</td>
<td class="center">{{ user_facebook_id }}</td>
<td class="center">{{ user_register_date }}</td>
<td class="center">{{ user_last_seen }}</td>
<td class="center">{{ user_points }}</td>
<td class="center">{{ user_platforms }}</td>
<td class="center">
    <a class="btn btn-success" href="#">
        <i class="icon-zoom-in icon-white"></i>
    </a>
    <a class="btn btn-info" href="#">
        <i class="icon-edit icon-white"></i>
    </a>
    <a class="btn btn-danger" href="#">
        <i class="icon-trash icon-white"></i>

    </a>
</td>
