/* Body and structure
-------------------------------------------------- */
.tile-list .item {
  width: 282px;
  height: 176px;
  overflow: hidden;
  margin: 3px;
  float: left;
}

.tile-list .challenge-image {
  width: 282px;
  height: 176px;
}

.challenge-caption {
  position: relative;
  top: -40px;
  padding: 10px 15px 5px;
  background: #333;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;  
  transition:all 0.2s ease-in-out;
}
.tile-list .item {
  background: url('../../images/default/reward.png');
}
.tile-list .item:hover .challenge-caption{
  position: relative;
  top: -175px;
  padding: 10px 15px 5px;
  background: #333;
  background: rgba(0, 0, 0, 0.75);
}
.challenge-caption h4{
  margin-bottom: 10px;
}

.challenge-caption h4, .challenge-caption p{
  color: #fff;
}

.item a:hover{
  text-decoration: none;
}

.notstart, .expired{
  text-align: center;
  font-weight: bold;
  color: white;
  position: relative;
  top: -195px;
  padding: 20px 15px;
  background: #333;
  background: rgba(150, 0, 0, 0.75);
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;  
  transition:all 0.2s ease-in-out;
  
  font-size: 18px;
}

.notstart{
  background: rgba(0, 40, 150, .75);
}

div.load-more{
  padding: 10px;
  text-align: center;
}
