<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3>Feedback Settings</h3>
  </div>
</div>

<div class="modal-body">
  <div class="control-group">
    <label class="control-label" for="name">Action Name</label>
    <div class="controls">
      <input type="text" class="name" name="name" value="<%= name %>" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="feedback_welcome_message">Welcome Message</label>
    <div class="controls">
      <textarea class="input-xlarge feedback_welcome_message" name="feedback_welcome_message" rows="2"><%= action_data.data.feedback_welcome_message %></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="feedback_question_message">Question Message</label>
    <div class="controls">
      <textarea class="input-xlarge feedback_question_message" name="feedback_question_message" rows="2"><%= action_data.data.feedback_question_message %></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="feedback_vote_message">Vote Message</label>
    <div class="controls">
      <textarea class="input-xlarge feedback_vote_message" name="feedback_vote_message" rows="2"><%= action_data.data.feedback_vote_message %></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="feedback_thankyou_message">Thank you Message</label>
    <div class="controls">
      <textarea class="input-xlarge feedback_thankyou_message" name="feedback_thankyou_message" rows="2"><%= action_data.data.feedback_thankyou_message %></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="save btn btn-primary" data-dismiss="modal">Update Action</button>
  <button class="btn cancel" data-dismiss="modal">Cancel</button>
</div>