<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3>Like Action Settings</h3>
  </div>
</div>

<div class="modal-body">
  <div class="control-group">
    <label class="control-label" for="name"><h6>Action Name:</h6></label>
    <div class="controls">
      <input type="text" class="name" name="name" value="<%= name %>" placeholder="action name" />
    </div>
  </div>
  <div class="control-group">
    <label><h6>Description:</h6></label>
    <div class="edit-description-field row-fluid">
      <textarea class="description span12" rows="3" placeholder="description"><%= typeof description !== 'undefined' ? description : "" %></textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="url"><h6>Url to like:</h6></label>
    <div class="controls">
      <input type="text" class="url span5" name="url" value="<%= url %>" placeholder="http://www.facebook.com/" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="save btn btn-primary" data-dismiss="modal">Save</button>
  <button class="btn cancel" data-dismiss="modal">Cancel</button>
</div>