<li class="well">
  <div class="btn-group pull-right">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-cog"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="edit-action">Edit</a></li>
      <li><a class="remove-action">Remove</a></li>
    </ul>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <button type="button" class="action-icon btn btn-warning">Walkin</button>
    </div>
    <div class="span9">
      <h5>Walkin</h5>
      <p><%= name %></p>
      <p>Sonar device status : <%= sonar_code ? '<span class="label label-success">Set</span>' : '<span class="label">Pending</span>' %></p>
    </div>
  </div>
</li>