<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3>Walkin Action Settings</h3>
  </div>
</div>

<div class="modal-body">
  <div class="control-group">
    <label class="control-label" for="name">Action Name</label>
    <div class="controls">
      <input type="text" class="name" name="name" value="<%= name %>" />
    </div>
  </div>
  <div class="control-group row-fluid form-inline">
    <div class="span6">
      <label><h6>Sonar code :</h6></label> <input class="sonar-frequency input-medium" type="text" name="sonar-frequency" id="sonar-frequency" value="<%- sonar_code %>" placeholder="Sonar code (8 digits)" maxlength="8"> <button class="btn generate-sonar-data">Generate</button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="save btn btn-primary" data-dismiss="modal">Update Action</button>
  <button class="btn cancel" data-dismiss="modal">Cancel</button>
</div>