application/config/config.php
application/config/database.php
application/config/facebook.php
application/config/twitter.php
application/logs
index.php
.settings
.project
uploads
notification/config.js
shdumper/mysql_load.bat
shdumper/mysql_save.bat
shdumper/mongodb_load.bat
shdumper/mongodb_save.bat
shdumper/mongodb_dump
shdumper/mysql_dump.sql