application/config/config.php
application/config/database.php
application/config/facebook.php
application/config/twitter.php
application/logs
index.php
.settings
.project
uploads
notification/config.js

