<div class="media media-small">
	<a class="media-thumb" style="position: relative;">
    <% if(typeof image !== 'undefined' && image !== null) { %>
      <img class="" src="<%= image %>" alt="">
    <% } else { %>
  		<img class="" src="../images/default/user.png" alt="">
    <% } %>

    <img style="width: 20px; position: absolute; bottom: -5px; right: -5px;" class="user-thumb" src="<%= window.Passport.BASE_URL + 'userimage/' + window.Passport.userId %>">
	</a>
	<div class="media-info">
		<!-- <h5>Username or Company name</h5> -->
		<p><%= message %><br />
			<small><%= timeago %></small>
		</p>
	</div>
</div>
