<div class="card">

  <div class="card-header">
    <div class="media media-mini">
      <a href="" class="media-thumb">
        <img src="<%= company.company_image %>" alt="">
      </a>
      <div class="media-info">
        <div class="pull-right"><%= company_score %></div>
        <h3><%= company.company_name %></h3>
      </div>
    </div>
  </div>

  <div class="card-body">

    <div class="media media-large">
      <a href="" class="media-thumb">
        <img src="<%= user.user_image %>" alt="">
      </a>
      <div class="media-info">
        <h3><%= user.user_first_name + ' ' + user.user_last_name %></h3>
        <p>
          <small>id: <%= user.user_id %></small><br />
          <small>Member since: <%
          var date = new Date(user.user_register_date + ' +0000');
          print(date.getDate()+ '-');
          print(date.getMonth()+1 + '-');
          print(date.getFullYear() + ' ');
          print(date.toTimeString().substr(0,8));
          %></small>
        </p>
        <button class="btn btn-primary">Edit info</button>
      </div>
    </div>

    <div class="well text-center">
      <div class="row-fluid">
        <div class="span3"><p>Class</p><h3>A</h3></div>
        <div class="span3"><p>Ranking</p><h3>3174</h3></div>
        <div class="span3"><p>Points</p><h3><%= company_score %></h3></div>
        <div class="span3"><p>Reward</p><h3><%= rewards_count %></h3></div>
      </div>
    </div>

    <hr />

    <p>Recently Activity</p>
    <div class="row-fluid text-center">
      <% _.each(rewards, function(reward) { %>
        <div class="span2"><div class="well"><%= reward.name %></div></div>
      <% }); %>
    </div>

    <hr />

    <div class="text-right">
      <a href="<%= window.Passport.BASE_URL + 'assets/view-company/#/company/' + company.company_id %>" class="btn pull-left">Go to company page</a>
      <a href="<%= window.Passport.BASE_URL + 'assets/view-company/#/company/' + company.company_id + '/reward' %>" class="btn btn-primary">Redeem Reward</a>
    </div>

  </div>

</div>
