<!-- <div class="coupon well">
  <div class="coupon-hash">
    Coupon ID : <%= hash %>
  </div>
  <div class="coupon-user">
    Coupon Owner : <%= user.user_first_name + ' ' + user.user_last_name %>
  </div>
  <div class="coupon-timestamp">
    Date : <%= new Date(timestamp * 1000).toString() %>
  </div>
  <div class="coupon-status">
    Coupon Status : <%= confirmed ? 'Approved' : 'Pending' %>
  </div>
  <% if (confirmed) { %>
    Approved Date : <%= new Date(confirmed_timestamp * 1000).toString() %>
  <% } %>
  <div class="coupon-reward"><button class="btn view-reward">View Reward</button></div>
</div> -->

<a href="#" class="reward" title="View">
  <img src="<%= reward.image %>" class="reward-image"/>
  <div class="reward-caption">
    <h4><%- reward.name || '' %></h4>
    <p><%- reward.description||'' %></p>
  </div>
</a>

