<div class="row-fluid">
  <div class="span2 user-left-pane" id="left">
    <div class="well">
      <div class="profile text-center"></div>
      <hr class="divider"/>
      <ul class="nav nav-list">
        <li class="nav-header">
          Menu
        </li>
        <li>
          <a class="user-menu-my-profile" href="#">My Profile</a>
          <ul>
            <li><a class="user-submenu-photos" href="#">Photos</a></li>
            <li><a class="user-submenu-feedbacks" href="#">Feedbacks</a></li>
            <li><a class="user-submenu-badges" href="#">Badges</a></li>
            <li><a class="user-submenu-rewards" href="#">Rewards</a></li>
          </ul>
        </li>
        <li>
          <a class="user-menu-my-card"href="#">My Card</a>
        </li>
        <li>
          <a class="user-menu-my-reward" href="#">My Reward</a>
        </li>
        <li>
          <a class="user-menu-activity" href="#">Activity</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="span10 well user-right-pane" id="right">
    
  </div>
</div>