<div class="row-fluid">
  <div class="span3 user-left-pane" id="left">
    <div class="well">
      <div class="profile text-center"></div>
      <hr class="divider"/>
      <ul class="nav nav-list user-profile-nav">
        <li class="nav-header">
          Menu
        </li>
        <li>
          <a class="user-menu-my-profile" href="#">My Profile <span class="caret"></span></a>
          <ul>
            <li><a class="user-submenu-photos" href="#">Photos <span class="pull-right">99</span></a></li>
            <li><a class="user-submenu-feedbacks" href="#">Feedbacks <span class="pull-right">99</span></a></li>
            <li><a class="user-submenu-badges" href="#">Badges <span class="pull-right">99</span></a></li>
          </ul>
        </li>
        <li>
          <a class="user-menu-my-card"href="#">My Card</a>
        </li>
        <li>
          <a class="user-menu-my-reward" href="#">My Coupon</a>
        </li>
        <li>
          <a class="user-menu-activity" href="#">Activity</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="span9 well user-right-pane" id="right">
    
  </div>
</div>