<div class="row-fluid">
  <p class="profile-picture span12">
    <img src="<%= user.user_image %>?type=large" class="profile-picture" alt=""/>
  </p>

</div>
<div class="row-fluid">
  <div class="profile-info span12">
    <h3 class="name">
      <%= user.user_first_name %> <%= user.user_last_name %>
    </h3>
    <p class="text-small">User Point: <%= user.user_score %></p>
    <% if(user.user_register_date){ %>
    <p class="text-small">Join Date: <%= $.timeago(new Date(new Date(user.user_register_date).getTime() + parseInt(user.user_timezone_offset || 0, 10)*60000)) %></p>
    <% } %>
    <% if(user.user_last_seen){ %>
    <p class="text-small">Last Seen: <%= $.timeago(new Date(new Date(user.user_last_seen).getTime() + parseInt(user.user_timezone_offset || 0, 10)*60000)) %></p>
    <% } %>
    <button class="btn btn-primary">Follow <%= user.user_first_name %></button>
  </div>
</div>
