<div class="modal-header">
  <button class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3 class="edit-name"><%= name %></h3>
  </div>
</div>
<div class="modal-body">

  <div class="coupon-status">
    Coupon Status : <%= coupon.confirmed ? 'Approved' : 'Pending' %>
  </div>

  <% if (coupon.confirmed) { %>
    Approved Date : <%= new Date(coupon.confirmed_timestamp * 1000).toString() %>
  <% } %>
  
  <img class="reward-image" src="<%= image %>" />

  <div class="control-group">
    <div class="edit-description">
      <p>
        <%- description %>
      </p>
    </div>
  </div>

   <div class="coupon-hash">
    Coupon ID : <%= coupon.hash %>
  </div>

  <div class="coupon-timestamp">
    Date : <%= new Date(coupon.timestamp * 1000).toString() %>
  </div>

</div>
<div class="modal-footer">
  <a target="_popup" href="<%= window.Passport.BASE_URL + 'assets/passport/#/profile/' + window.Passport.userId + '/coupons/' + couponId %>" class="coupon-print btn btn-primary">Print</a>
  <a class="btn" data-dismiss="modal">Close</a>
</div>