body {
  position: relative;
  padding-top: 60px;
  background-color: #fff;
}

div.clear {
  clear: both;
}

img.user-picture {

}

div.played-app{
  height: 150px;
  width: 150px;
  margin: 5px;
  float: left;
 }

div.app-photo{
  text-align: center;
}

img.app-photo {
  width: 128px;
  height: 128px;
}

.app-name {
  text-align: center;
}

div.app-detail{
  text-align: center;
}

.app-item {
  height: 220px;
  width: 220px;
  margin: 5px;
  float: left;
}
