<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Time</th>
              <th>Credit Change</th>
              <th>Credit Balance</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="balance-list"></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span9">
      <div class="load-more center">
        <button class="btn btn-large btn-primary load-more hide">Load More</button>
      </div>
    </div>
  </div>
</div>
