<div class="control-group challenger-joined">
   <h6 class="joined-label">Who joined this challenge:</h6>
   <ul class="in-progress"></ul>
   <div style="clear: both;"></div>
   <button class="btn btn-info load-more-in-progress hide">Load more</button>
 </div>

 <div class="control-group challenger-completed">
   <h6 class="completed-label">Who completed this challenge:</h6>
   <ul class="completed"></ul>
   <div style="clear: both;"></div>
   <button class="btn btn-info load-more-completed hide">Load more</button>
 </div>