<a href="<%= baseUrl %>redirect/c?hash=<%= hash %>" class="challenge" title="Play">
  <img src="<%= detail.image %>" class="challenge-image"/>
  <div class="challenge-caption">
    <h4><%= detail.name %></h4>
    <p><%= detail.description %></p>
    <p>
      <% if(all_branch){ %>
        Available all branches
      <% }else if(branches_data.length == 1){ %>
        Available at branch <%- branches_data[0].title %>
      <% }else if(branches_data.length == 2){ %>
        Available at branch <%- branches_data[0].title %> and <%- branches_data[1].title %>
      <% }else if(branches_data.length > 2){ %>
        Available at branch <%- branches_data[0].title %> and <%- branches_data.length - 1 %> others
      <% } %>
    </p>
    <% if(start_date && end_date){ %>
      <p>
        Start: <%= moment(start_date * 1000).format('MMM D YYYY, H:mm') %><br/>
        End: <%= moment(end_date * 1000).format('MMM D YYYY, H:mm') %>
      </p>
    <% } %>
  </div>
  <div class="expired <%= expired?'':'hide' %>">
    EXPIRED
  </div>
  <div class="notstart <%= notstart?'':'hide' %>">
    NOT START
  </div>
  <div class="action <%- action_type %>"></div>
</a>

