<div class="container-fluid">
  <div class="row-fluid filter-bar">
    <div class="span2">
      <div class="coupon-filter">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown">
            Filter
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="coupon-filter-all">All</a>
            </li>
            <li>
              <a class="coupon-filter-confirmed">Approved</a>
            </li>
            <li>
              <a class="coupon-filter-not-confirmed">Not Approved</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="span10">
      <div class="btn-group pull-right">
        <div class="dropdown">
          <a class="btn dropdown-toggle" data-toggle="dropdown">Search <span class="caret"></span></a>
          <div class="dropdown-menu pull-right">
            <form>
              <div class="coupon-search">

                <div>Search by Coupon ID</div>
                <div><input type="text" id="coupon-search-id" /></div>

                <div>Search by name</div>
                <div><input type="text" id="coupon-search-name" /></div>

                <div>Search by email</div>
                <div><input type="text" id="coupon-search-email" /></div>

                <div>Search by phone</div>
                <div><input type="text" id="coupon-search-phone" /></div>

                <div>
                  <button id="coupon-search" class="btn btn-primary" data-toggle="dropdown"><i class="icon-search"></i> Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="coupon-list"></div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span9">
      <div class="load-more center">
        <button class="btn btn-large btn-primary load-more hide">Load More</button>
      </div>
    </div>
  </div>
</div>
