<div class="well">
  <form class="create-company form-horizontal">
    <div class="control-group">
      <label class="control-label"><h6>Company Name:</h6></label>
      <div class="controls">
        <input type="text" name="company_name" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><h6>Company Detail:</h6></label>
      <div class="controls">
        <textarea name="company_detail" rows="3"></textarea>
      </div>
    </div>
    <div class="controls">
      <button class="btn btn-large btn-primary submit create-company">Create Company</button>
    </div>
  </form>
</div>
