img.user-picture {

}

div.played-app-item {
  width: 150px;
  padding: 10px;
  float: left;
  margin-bottom: 10px;
  position: relative;
  color: #000;
}

.played-app-detail{
  text-align: center;
  width: 150px;
  background-color: #F5F5F5;
}

div.app-photo{
  text-align: center;
}

img.app-photo {
  width: 100%;
}

.app-name {
  text-align: center;
}

.app-item {
  width: 220px;
  padding: 10px;
  margin-bottom: 10px;
  float: left;
  position: relative;
  color: #000;
}

div.app-detail{
  text-align: center;
  width: 220px;
  background-color: #F5F5F5;
}

.play-button {
  position: absolute;
  top: 10px;
  text-align: center;
  width: 220px;
  height: 220px;
  background-color: rgba(255,255,255,0.6);
}

.play-button .btn {
  text-align: center;
  margin-top: 90px;
}

.played {
  width: 150px;
  height: 146px;
}

.played .btn {
  margin-top: 55px;
}