<div class="well">
<h1><%= data.checkin_welcome_message %>
<div>
  <div class="loading-div" style="height:36px;display:block;">
    <div id="loading-box" style="display:none;"><img src="<%= base_url + 'assets/images/loading.gif' %>" /></div>
  </div>
  <div class="form" data-action="<%= base_url+ 'actions/checkin/add_user_data_checkin' %>">
    <fieldset>
      <legend><%= data.checkin_challenge_message %></legend>
      <div>
        <div class="control-group">
          <label class="control-label" for="checkin_facebook_place_name">Do Check-In at <strong><%= data.checkin_facebook_place_name %></strong></label>
        </div>
        <% if(data.checkin_min_friend_count > 0) { %>
          <div class="control-group">
            <label class="control-label" for="checkin_min_friend_count">With at least <%= data.checkin_min_friend_count %> of your friend(s)</label>
            <input type="hidden" id="checkin_min_friend_count" value="<%= data.checkin_min_friend_count %>" />
          </div>

          <div class="control-group">
            <div id="search-friends-normal">
              <div id="friend-list">
                <div id="jfmfs-container"></div>
              </div>
            </div>
          </div>

        <% } %>
        <div class="control-group">
          <label class="control-label" for="post_message">Checkin Message</label>
          <div class="controls">
            <input type="text" class="post_message" name="post_message" />
          </div>
        </div>
      </div>
      <input type="hidden" class="action_data_hash" name="action_data_hash" value="<%= hash %>" />
      <div class="control-group">
        <button class="btn submit">Submit</button>
      </div>
    </fieldset>
  </div>
</div>