#ui-datepicker-div
{
    z-index: 9999999;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.tile-list .item {
  background: url('../../images/default/reward.png');
  width: 282px;
  height: 176px;
  overflow: hidden;
  margin: 3px;
  float: left;
  position: relative;
  cursor: pointer;
}

.tile-list .challenge-image, .tile-list .reward-image {
  max-width: 282px;
}

button.recipe-icon.disabled{
  cursor: pointer;
}

.menu{
  margin-bottom: 20px;
}

.filter-bar{
  margin-bottom: 20px;
}

.coupon-search{
  padding: 20px 20px 0 20px;
}

.challenge-caption {
  position: absolute;
  top: 141px;
  right: 0;
  left: 0;
  padding: 10px 15px 5px;
  background: #333;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition:top 0.2s ease-in-out;
  -moz-transition:top 0.2s ease-in-out;
  -o-transition:top 0.2s ease-in-out;
  -ms-transition:top 0.2s ease-in-out;
  transition:top 0.2s ease-in-out;
}
.tile-list .item:hover .challenge-caption{
  top: 0;
}
.challenge-caption h4{
  margin-bottom: 10px;
}

.challenge-caption h4, .challenge-caption p{
  color: #fff;
}

.item a:hover{
  text-decoration: none;
}

div.load-more{
  padding: 10px;
  text-align: center;
}

img.company-image{
  max-width: 170px
}

.modal .edit-name,
.modal .edit-image,
.modal .edit-description{
  cursor: pointer;
}

.modal .control-group {
  position: relative;
}
.modal .edit-image {
  position: relative;
}

.modal .edit-image .edit-image-form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .edit-image:hover .edit-image-form {
  display: block;
}
.modal .edit-image-form .form-inline {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -78px;
  margin-left: -125px;
  width: 241px;
}

.modal img.reward-image, .modal .view-repeat, .modal .edit-redeem{
  cursor: pointer;
}
.setup-your-reward {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
  text-align: center;
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 10;
}

/* Recipe modal */
.recipe-icon {
  height: 90px;
  width: 90px;
  margin-top: 10px;
}