<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3 >Add new action</h3>
</div>

<div class="modal-body">
  
  <button type="button" class="action-icon btn btn-primary add-share">Share</button>
  <button type="button" class="action-icon btn btn-success add-feedback">Feed back</button>
  <button type="button" class="action-icon btn btn-danger add-checkin">Checkin</button>
  <button type="button" class="action-icon btn btn-warning add-qr">QR</button>

</div>
<div class="modal-footer">
</div>