<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3>Create challenge</h3>
  </div>

</div>

<div class="modal-body">

  <div class="edit-name control-group">
    <label><h6>Challenge Name:</h6></label>
    <div class="row-fluid">
      <input class="challenge-name span12" type="text" value="<%= detail.name %>" />
    </div>
  </div>
  <div class="control-group">
    <label><h6>Description:</h6></label>
    <div class="edit-description-field row-fluid">
      <textarea class="challenge-description span12" rows="3"><%= detail.description %></textarea>
    </div>
  </div>

  <div class="location control-group row-fluid form-inline">
    <div class="span6">
      <label><h6>Latitude:</h6></label> <input class="latitude input-medium" type="text" name="latitude" id="latitude" value="" placeholder="0.0">
    </div>
    <div class="span6">
      <label><h6>Longitude:</h6></label> <input class="longitude input-medium" type="text" name="longitude" id="longitude" value="" placeholder="0.0">
    </div>
  </div>

  <div class="control-group row-fluid form-inline">
    <div class="span6">
      <label><h6>Max done count:</h6></label> <input class="done-count-max input-medium" type="text" name="done-count-max" id="done-count-max" value="" placeholder="Maximum done count">
    </div>
  </div>

  <div class="control-group row-fluid form-inline">
    <div class="span6">
      <label><h6>Sonar frequency :</h6></label> <input class="sonar-frequency input-medium" type="text" name="sonar-frequency" id="sonar-frequency" value="" placeholder="Sonar frequency (Hz)"> <button class="btn generate-sonar-data">Generate</button>
    </div>
  </div>

  <div class="date control-group row-fluid form-inline">
    <div class="span6">
      <label><h6>Start Date:</h6></label> <input class="input-medium" type="text" name="add_challenge_start" id="add_challenge_start" value="" placeholder="select start date...">
    </div>
    <div class="span6">
      <label><h6>End Date:</h6></label> <input class="input-medium" type="text" name="add_challenge_end" id="add_challenge_end" value="" placeholder="select end date...">
    </div>
  </div>

  <div class="control-group">
    <h6 class="edit-repeat">Repeat:</h6>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" class="repeat-enable" value="true" <%= repeat ? 'checked="checked"' : ''%>>
        User can play this challenge more than one time
      </label>
    </div>
    <div class="edit-repeat hide">
      <div class="control-group">
        User can play every <input class="repeat-interval span1" value="<%= repeat?repeat:7 %>" /> days.
        <button type="button" class="btn save-repeat-interval btn-primary">Save</button>
      </div>
    </div>
    <div class="view-repeat <%= repeat ? '' : 'hide' %>">
      <div class="control-group">
        User can play every <%= repeat || 7 %> days.
      </div>
    </div>
  </div>

  <div class="edit-image">
    <h6>Image:</h6>
    <div class="edit-image-form hide">
      <div class="form-inline">
        <label><h4>Enter image URL</h4></label>
        <div class="control-group">
          <input type="text" class="challenge-image input-medium" placeholder="Image URL" value="<%= detail.image %>" /> <button class="save-image btn btn-primary btn-small">&nbsp;Save&nbsp;</button>
        </div>
        <label><h4>Or upload your own image</h4></label>
        <div class="control-group">
          <form type="POST" enctype="multipart/form-data" action="<%= window.Company.BASE_URL + 'apiv3/upload_image' %>" class="upload-image">
            <input type="file" name="new-image" />
            <input type="hidden" name="file-input-name" value="new-image" />
            <input type="hidden" name="old-image" value="<%= detail.image %>" />
            <button class="upload-image-submit btn btn-primary btn-small">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <img class="challenge-image" src="<%= detail.image %>" />
  </div>

  <hr class="divider" />

  <div class="criteria-list">
    <label><h6>What your member have to do to achieve this challenge?</h6></label>
    <% if(criteria.length === 0) { %>
     <!--  <div class="setup-your-reward">
        <button type="button" class="add-new-aciton btn btn-primary">Set up your action</button>
      </div> -->
    <% } %>
    <ul class="criteria-list unstyled">
      <% if(criteria.length === 0) { %>
        <!-- <li class="well">
          <div class="btn-group pull-right">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <button type="button" class="action-icon btn btn-warning">20% OFF</button>
            </div>
            <div class="span9">
              <h5>QR Code Hunting</h5>
              <p>Find our QR codes in the area.</p>
            </div>
          </div>
        </li> -->
      <% } %>
    </ul>
    <div class="alert alert-info">
      <div class="text-center"><a class="add-new-action"><i class="icon-plus"></i> Add Action</a></div>
    </div>
  </div>

  <hr class="divider" />

  <div class="control-group">
    <label><h6 class="edit-reward-label">How will you reward your member when they complete challenge?</h6></label>
    <!--<% if(!reward_items.length) { %>
      <div class="setup-your-reward">
        <button type="button" class="add-new-reward btn btn-primary">Set up your reward</button>
      </div>
    <% } %>-->
    <ul class="reward-list unstyled">
      <!--<% if(!reward_items.length) { %>
        <li class="setup-your-reward well">
          <div class="btn-group pull-right">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Edit</a></li>
              <li><a href="#">Delete</a></li>
            </ul>
          </div>
          <div class="row-fluid">
            <div class="span2">
              <button type="button" class="action-icon btn btn-warning">20% OFF</button>
            </div>
            <div class="span9">
              <h5>Special offer</h5>
              <p>Browse through the latest special offers and deals from us include the unlimited selections of our challenge.</p>
            </div>
          </div>
        </li>
      <% } %>-->
    </ul>

    <div class="reward-add alert alert-info">
      <div class="text-center"><a class="add-new-reward"><i class="icon-plus"></i> Add Reward</a></div>
    </div>
</div>

</div>
<div class="modal-footer">
  <button class="btn cancel" data-dismiss="modal">Cancel</button>
  <!-- <% if(active){%>
    <button class="btn deactive-challenge btn-danger">Deactive this challenge</button>
  <%}else{%>
    <button class="btn active-challenge btn-success">Active this challenge</button>
  <%}%> -->
  <button class="btn btn-primary hide">Save draft</button>
  <button class="btn btn-primary create-challenge">Publish</button>
</div>