<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <h3>Add new action</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span10 well recipes">
        <div class="row-fluid">
          <div class="span2"><button type="button" data-recipe="feedback" class="recipe-icon disabled btn btn-success">Feedback</button></div>
          <div class="span2"><button type="button" data-recipe="qr" class="recipe-icon disabled btn btn-danger">QR</button></div>
          <div class="span2"><button type="button" data-recipe="checkin" class="recipe-icon disabled btn btn-primary">Checkin</button></div>
          <!--<div class="span2"><button type="button" data-recipe="share" class="recipe-icon disabled btn btn-primary">Share</button></div>-->
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">&nbsp;</div>
      <div class="span6 text-center">Choose an action</div>
    </div>
    <div class="row-fluid">
      <div class="span12 add-action-form">
        
      </div>
    </div>
  </div>
</div>
<div class="modal-footer hide">
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
  <button class="choose-recipe btn btn-primary" data-dismiss="modal">Add this action</button>
</div>