<div class="modal-header">
  <button class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3 class="edit-name"><%= name %></h3>
  </div>
  <div class="edit-name hide">
    <input class="reward-name span4" value="<%- name||'' %>" />
    <button class="btn save-name btn-primary">Save</button>
  </div>
</div>

<div class="modal-body">

  <h6 class="">Type:</h6>
  <div class="control-group">
    <%= type.charAt(0).toUpperCase() + type.slice(1) %>
  </div>

  <h6>Status:</h6>
  <div class="control-group">
    <div class="controls">
      <label class="status"></label>
      <select class="reward-status">
        <option value="draft" <%= status === 'draft' ? 'selected' : ''%>>Draft</option>
        <option value="published" <%= status === 'published' ? 'selected' : ''%>>Published</option>
        <option value="cancelled" <%= status === 'cancelled' ? 'selected' : ''%>>Cancelled</option>
      </select>
    </div>
  </div>

  <h6>Redeem Method:</h6>
  <div class="control-group">
    <div class="controls">
      <label class="status"></label>
      <select class="reward-redeem-method">
        <option value="in_store" <%= redeem_method === 'in_store' ? 'selected' : ''%>>In Store</option>
        <option value="delivery" <%= redeem_method === 'delivery' ? 'selected' : ''%>>Delivery</option>
      </select>
    </div>
  </div>

  <div class="edit-image">
    <h6>Image:</h6>
    <div class="edit-image-form hide">
      <div class="form-inline">
        <label><h4>Enter image URL</h4></label>
        <div class="control-group">
          <input type="text" class="reward-image input-medium" placeholder="Image URL" value="<%= image %>" /> <button class="save-image btn btn-primary btn-small">&nbsp;Save&nbsp;</button>
        </div>
        <label><h4>Or upload your own image</h4></label>
        <div class="control-group">
          <form type="POST" enctype="multipart/form-data" action="<%= window.Company.BASE_URL + 'apiv3/upload_image' %>" class="upload-image">
            <input type="file" name="new-image" />
            <input type="hidden" name="file-input-name" value="new-image" />
            <input type="hidden" name="old-image" value="<%= image %>" />
            <button class="upload-image-submit btn btn-primary btn-small">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <img class="reward-image" src="<%= image %>" />
  </div>

  <div class="control-group">
    <div class="edit-description">
      <h6>Description:</h6>
      <p>
        <%- description %>
      </p>
    </div>
    <div class="edit-description-field hide">
      <h6>Description:</h6>
      <textarea class="reward-description span5" rows="3"><%- description %></textarea>
      <button class="btn save-description btn-primary">Save</button>
    </div>
  </div>

  <div class="control-group">
    <div class="edit-redeem">
      <h6>Redeem:</h6>
      <p>
        Quantity: <%= ( redeem.amount - redeem.amount_redeemed )+ '/' + redeem.amount %>
      </p>
      <p>
        Require Point: <%= redeem.point %>
      </p>
      <p>
        User can redeem only once: <%= redeem.once?'Yes':'No' %>
      </p>
    </div>
    <div class="edit-redeem-field hide">
      <h6>Redeem:</h6>
      <p>
        Quantity: <%= ( redeem.amount - redeem.amount_redeemed ) %> / <input type="text" class="reward-amount" value="<%= redeem.amount %>" />
      </p>
      <p>
        Require Point: <input type="text" class="reward-point" value="<%= redeem.point %>" />
      </p>
      <p>
        User can redeem only once: <input type="checkbox" class="reward-once" value="" <%= redeem.once?'checked':'' %> />
      </p>
      <button class="btn save-redeem btn-primary">Save</button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>