<li class="well">
  <div class="btn-group pull-right">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
      <i class="icon-cog"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="edit-reward">Edit</a></li>
      <li><a class="remove-reward">Remove</a></li>
    </ul>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <button type="button" class="action-icon btn btn-warning"><%= name %></button>
    </div>
    <div class="span9">
      <h5><%= name %></h5>
      <p></p>
    </div>
  </div>
</li>