<li class="divider-vertical"></li>
<% if(companies && companies.length) { %>
  <li class="bar-company-list dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-group icon-large"></i><span class="bar-text-right">Your Companies<b class="caret"></b></span>
    </a>
    <ul class="dropdown-menu mega-dropdown-menu user">
      <% _.each(companies, function(company) {  %>
        <li class="separator">
          <a href="<%= base_url + 'assets/company/#/company/' + company.company_id %>">
            <img src="<%= company.company_image %>" />
            <p class="company-name"><%= company.company_name %></p>
          </a>
        </li>
      <% }); %>
    </ul>
  </li>
<% } else { %>
  <li><a href="<%= base_url + 'company/create'%>">Create Your Company</a></li>
<% } %>