<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <span class="bar-icon pull-left"><a href="<%= baseUrl %>"><strong>SocialHappen</strong></a></span>
      <span class="bar-text"><a class="brand" href="<%= baseUrl %>">SocialHappen</a></span>
      <ul class="nav">
        <li class="play">
          <a href="<%= baseUrl %>play"><i class="icon-play icon-large"></i><span class="bar-text">Play</span></a>
        </li>
        <li class="passport">
          <a href="<%= baseUrl %>passport"><i class="icon-book icon-large"></i><span class="bar-text">Passport</span></a>
        </li>
        <li class="world">
          <a href="<%= baseUrl %>world"><i class="icon-globe icon-large"></i><span class="bar-text">World</span></a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="bar-company-list"></li>
        <li class="divider-vertical"></li>
        <li class="bar-user dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="user-image" src="<%= user.user_image %>?type=square" alt=""/ >
            <span class="bar-text-right"> <%= user.user_first_name %> <%= user.user_last_name %> <b class="caret"></b></span>
          </a>
          <ul class="dropdown-menu mega-dropdown-menu user">
            <li>
              <a class="btn-settings" href="<%= baseUrl %>player/settings">» Settings</a>
            </li>
            <li>
              <a class="btn-logout" href="<%= baseUrl %>logout">» Logout</a>
            </li>
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li class="dropdown bar-notification notification"></li>
      </ul>
    </div>
  </div>
</div>