<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">SocialHappen</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="play">
            <a href="<%= baseUrl %>player/static_page">Play</a>
          </li>
          <li class="passport">
            <a href="<%= baseUrl %>assets/passport/#/profile/<%= user.id %>">Passport</a>
          </li>
          <li class="world">
            <a>World</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>