<div class="coupon-filter">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
      Filter
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="coupon-filter-all">All</a>
      </li>
      <li>
        <a class="coupon-filter-confirmed">Confirmed</a>
      </li>
      <li>
        <a class="coupon-filter-not-confirmed">Not Confirmed</a>
      </li>
    </ul>
  </div>
</div>
<div class="coupon-list"></div>
<div class="row">
  <div class="span9">
    <div class="load-more center">
      <button class="btn btn-large btn-primary load-more">Load More</button>
    </div>
  </div>
</div>
