<li class="bar-notification dropdown notification">
  <a href="#" class="dropdown-toggle amount" data-toggle="dropdown">
    <i class="icon-info-sign icon-large"></i>
    <span></span>
  </a>
  <ul class="dropdown-menu mega-dropdown-menu notification_list_bar">
    <li class="no-notification">
      <p>
        No notification.
      </p>
    </li>
    <% _.each(notifications.list, function(notification) {  %>
      <li>
        <a href="<%= notification.link %>">
          <img src="<%= notification.image %>" />
          <p class="message"><%= notification.message %></p>
          <p class="time"><%= moment().from(moment.unix(notification.timestamp)) %></p>
        </a>
      </li>
    <% }); %>
    <li class="divider"></li>
    <li class="all-notification">
      <a class="a-notification" href="#">See all Notifications</a>
    </li>
  </ul>
</li>