<div class="modal-header reward-action">
  <button class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3 class="edit-name"><%= name %></h3>
  </div>
</div>
<div class="modal-body reward-action">
  <p><img class="reward-image" src="<%= image %>" /></p>

  <div class="control-group">
    <div class="edit-description">
      <p>
        <%- description %>
      </p>
    </div>
  </div>

  <div class="control-group">
    <div class="edit-redeem">
      <p>
        Quantity: <%= redeem.amount - redeem.amount_redeemed + '/' + redeem.amount %>
      </p>
      <p>
        Require Point: <%= redeem.point %>
      </p>
      <p>
        User can redeem only once: <%= redeem.once? 'Yes' : 'No' %>
      </p>
    </div>
  </div>

  <center>
    <div class="redeem-reward">
      <% if (redeem.once && (typeof redeemed !== 'undefined') && redeemed) { %>
        <button class="btn btn-primary btn-large" disabled>Redeemed</button>
      <% } else { %>
        <button class="redeem-reward btn btn-primary btn-large">Redeem this reward</button>
      <% } %>
    </div>
  </center>
</div>

<div class="modal-header alert-success reward-success hide">
  <div class="reward-success">
    <h1>Redeem Success</h1>
  </div>
</div>
<div class="modal-body reward-success hide">
  <div class="control-group">
    <h3 class="pull-left">Reward: </h3>
    <h3 class="pull-right"><%- name %></h3>
    <!-- <p>Point left: </p> -->
  </div>

  <p><img class="reward-image" src="<%= image %>" /></p>

  <div class="control-group">
    <div class="edit-description">
      <p>
        <%- description %>
      </p>
    </div>
  </div>

  <div class="control-group">
    <a href="<%= passportCouponPageURL %>">View all coupons</a>
  </div>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>