<div class="modal-header">
  <button class="close" data-dismiss="modal">
    ×
  </button>
  <div class="">
    <h3 class="edit-name"><%= name %></h3>
  </div>
</div>
<div class="modal-body">
  
  <div class="control-group">
    <h6 class="edit-image">Image:</h6>
  </div>

  <img class="reward-image" src="<%= image %>" />

  <div class="control-group">
    <div class="edit-description">
      <h6>Description:</h6>
      <p>
        <%- description %>
      </p>
    </div>
  </div>
  
  <div class="control-group">
    <div class="edit-redeem">
      <h6>Redeem:</h6>
      <p>
        Quantity: <%= redeem.amount %>
      </p>
      <p>
        Require Point: <%= redeem.point %>
      </p>
      <p>
        User can redeem only once: <%= redeem.once? 'Yes' : 'No' %>
      </p>
    </div>
  </div>

  <center>
    <div class="redeem-reward">
      <% if (redeem.once && redeemed) { %>
        <button class="btn btn-primary btn-large" disabled>Redeemed</button>
      <% } else { %>
        <button class="redeem-reward btn btn-primary btn-large">Redeem this reward</button>
      <% } %>
    </div>
  </center>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>