#sh-bar * {
margin:0;
padding:0;
}

#sh-bar img,#sh-bar fieldset {
border:0;
}

#sh-bar li {
list-style:none;
}

#sh-bar a {
cursor:pointer;
}

#sh-bar {
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
width:100%;
height:35px;
background:url(../../images/bg_fb/bg_header.png) repeat-x right top #fff;
margin:0 auto;
position:relative;
z-index:1;
box-shadow:0 1px 4px #555;
}

#sh-bar:after {
clear:both;
content:" ";
display:block;
}

#sh-bar div.name {
float:left;
height:35px;
min-width: 10px;
position:relative;
background-image:url(../../images/bg_fb/bg_header.png);
background-repeat:repeat-x;
background-position:left top;
background-color:#fff;
cursor:pointer;
}

#sh-bar div.name>div {
height:30px;
background:url(../../images/bg_fb/bg_liney01.gif) repeat-y 100% 0;
max-width:140px;
overflow:hidden;
padding:5px 0 0 40px;
}

#sh-bar div.name>div:after {
clear:both;
content:" ";
display:block;
}

#sh-bar div.name>div>p.pic {
float:left;
width:27px;
height:26px;
margin-left:-34px;
text-align:center;
position:relative;
padding:1px 0 0;
}

#sh-bar div.name>div>p.pic img {
width:25px;
height:25px;
}

#sh-bar div.name>div>p.pic>span {
display:block;
width:27px;
height:27px;
background:url(../../images/bg_fb/fill_top25-25.png) no-repeat;
position:absolute;
left:0;
top:0;
}

#sh-bar div.name>div>p:first-child+p {
font-weight:bold;
color:#fff;
line-height:25px;
padding-right:25px;
min-width:120px;
background:none;
white-space:nowrap;
}

#sh-bar div.name > div div.dropdown {
width:15px;
height:35px;
background-image:url(../../images/bg_fb/bg_header.png);
background-position:-20px 0;
position:absolute;
right:5px;
top:0;
}

#sh-bar div.name:hover > div div.dropdown {
background-position:-20px -38px;
}

#sh-bar div.name > div div.dropdown span {
width:12px;
height:25px;
background:url(../../images/bg_fb/bg_droptop.png) 90% 7px no-repeat;
display:block;
position:absolute;
right:0;
top:5px;
}

#sh-bar div.name>ul,
#sh-bar ul.menu>li ul {
position:absolute;
top:35px;
right:0;
background-color:#292929;
display:none;
overflow:hidden;
border-top:1px solid #1C1C1C;
z-index:999;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

#sh-bar ul.menu>li ul { width:150px; }

#sh-bar ul.menu>li:hover,
#sh-bar ul.menu>li.active {
background-image:url(../../images/bg_fb/bg_header.png);
background-position:-20px -38px;
}
#sh-bar ul.menu>li.last-child:hover,
#sh-bar ul.menu>li.last-child.active {
background-image: url(../../images/bg_fb/bg_header.png);
background-position:right -38px;
}

#sh-bar ul.menu li ul li.last-child,#sh-bar div.name>ul li.last-child {
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

#sh-bar ul.menu > li ul li a,#sh-bar div.name>ul li a {
line-height:25px;
}

#sh-bar ul.menu > li ul li:hover,#sh-bar div.name>ul li:hover {
background-color:#4e4e4e;
}

#sh-bar div.name>ul>li a,#sh-bar ul.menu>li.profile>ul>li a {
display:block;
text-decoration:none;
color:#fff;
font-weight:bold;
background:url(../../images/bg_fb/bg_listmenu.png) 5px 13px no-repeat;
padding:5px 10px 5px 20px;
}

#sh-bar div.name>ul>li img {
width:16px;
height:16px;
position: absolute;
top: 9px;
left: 6px;
}

#sh-bar div.name>ul>li a {
background:none;
padding-left: 26px;
}

#sh-bar div.name>ul {
width:100%;
left:0;
}

#sh-bar div.name:hover {
background-position:left -38px;
}

#sh-bar div.name>ul li {
cursor:default;
font-size:11px;
background-image:url(../../images/bg_fb/bg_linex03.png);
background-repeat:repeat-x;
background-position:top left;
position:relative;
}

#sh-bar div.name>ul>li:first-child {
background-image:none;
}

#sh-bar ul.menu {
float:right;
height:35px;
}

#sh-bar ul.menu>li {
float:left;
height:35px;
background:url(../../images/bg_fb/bg_liney01.gif) repeat-y 0 0;
padding:0 0 0 2px;
}

#sh-bar ul.menu > li > ul li.separator {
background-image:url(../../images/bg_fb/bg_linex03.png);
background-repeat:repeat-x;
background-position:top left;
}

#sh-bar ul.menu>li.guest a {
color:#FFF;
display:block;
font-weight:bold;
line-height:35px;
text-decoration:none;
padding:0 5px;
}

#sh-bar ul.menu>li.like a {
display:block;
width:33px;
height:35px;
background:url(../../images/bg_fb/bg_main.png) no-repeat 9px 10px;
}

#sh-bar ul.menu>li.like a span {
display:none;
}

#sh-bar ul.menu>li.profile>div {
height:30px;
padding:5px 0 0 40px;
cursor:pointer;
}

#sh-bar ul.menu>li.profile>div:after {
clear:both;
content:" ";
display:block;
}

#sh-bar ul.menu>li.profile>div>p.pic {
float:left;
width:27px;
height:26px;
margin-left:-34px;
text-align:center;
position:relative;
padding:1px 0 0;
}

#sh-bar ul.menu>li.profile>div>p.pic img {
width:25px;
height:25px;
}

#sh-bar ul.menu>li.profile>div>p.pic>span {
display:block;
width:27px;
height:27px;
background:url(../../images/bg_fb/fill_top25-25.png) no-repeat;
position:absolute;
left:0;
top:0;
}

#sh-bar ul.menu>li.profile>div>p:first-child+p {
font-weight:bold;
color:#fff;
line-height:25px;
padding-right:25px;
min-width:120px;
background:url(../../images/bg_fb/bg_droptop.png) 90% 7px no-repeat;
}



#sh-bar ul.menu>li.profile>ul li {
cursor:default;
font-size:11px;
background-image:url(../../images/bg_fb/bg_linex03.png);
background-repeat:repeat-x;
background-position:top left;
color:#FFF;
font-weight:bold;
}

#sh-bar ul.menu>li.profile>ul>li:first-child {
background:none;
}

#sh-bar ul.menu > li.profile > ul > li.user-info {
height:55px;
}

#sh-bar ul.menu > li.profile > ul > li.user-info div {
padding-left:60px;
margin-top:5px;
}

#sh-bar ul.menu > li.profile > ul > li.user-info div img {
width:50px;
height:50px;
position:absolute;
top:5px;
left:5px;
}

#sh-bar ul.menu > li.setting {
position:relative;
}

#sh-bar ul.menu > li.setting div:first-child {
text-indent:-9000px;
cursor:pointer;
display:block;
width:35px;
height:35px;
background:url(../../images/bg_fb/bg_main.png) no-repeat 7px -68px;
}

#sh-bar ul.menu > li.setting > ul {
position:absolute;
left:-113px;
top:35px;
}

#sh-bar ul.menu > li.setting > ul li {
font-size:11px;
}

#sh-bar ul.menu > li.setting a {
display:block;
height:auto;
text-decoration:none;
color:#FFF;
font-weight:bold;
background:url(../../images/bg_fb/bg_listmenu.png) 5px 12px no-repeat;
line-height: 35px;
padding: 0 0 0 20px;
text-overflow: ellipsis;
white-space: nowrap;
width: 130px;
overflow: hidden;
}

/* Popup Facebook */
div.popup-fb { /* Reset */
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #333;
position:relative;
width:390px;
background:#fff;
padding:15px 15px 5px;
}
div.popup-fb ul, div.popup-fb li, div.popup-fb label { margin: 0; padding: 0; }
div.popup-fb input { height:auto; padding:0; margin: 0; }
div.popup-fb li { list-style: none; }
div.popup-fb img { max-width:390px; }
div.popup-fb p { margin: 0; }
div.popup-fb h2 {
font-size: 24px;
font-family: Myriad Pro;
color: #424241;
font-weight: normal;
padding: 0 0 5px;
border-bottom: 1px dotted #a6a6a6;
margin: 0 0 15px;
}

div.popup-fb div.buttons {
position:relative;
min-height:50px;
border-top: 1px dotted #a6a6a6;
}
div.popup-fb div.buttons p {
position:relative;
top:15px;
text-align:center;
}
div.buttons p.left { text-align:left; }
div.buttons p.right { text-align:right; }

/* FB popup */
div.popup-fb div.step {
position:absolute;
top:20px;
right:5px;
}
div.popup-fb div.step ul li {
float:left;
color:#fff;
position:relative;
width:30px;
text-align:center;
}
div.popup-fb div.step ul li span {
width:21px;
height:20px;
text-align:center;
font-weight:bold;
background-image: url(../../images/bg_fb/bg_button_2.png);
background-position:186px -41px;
line-height: 20px;
display: block;
}
div.popup-fb div.step ul li:first-child { text-align:left; }
div.popup-fb div.step ul li.active span { background-position:218px -41px; padding: 0; }
div.popup-fb div.step span.connector { border-top:1px solid #d0d0d0; position:absolute; top:10px; left:1px; width:85%}
li.error>label {color:red;}
li.error p {color:red; font-style:italic;}
li.error input[type="text"],
input[type="text"].error,
li.error textarea { border:1px solid red!important; }
span.required {color:red}

/* Popup Signup SH */
div.popup-fb.signup div.profile { 
position:relative;
margin: 15px 0;
background-color:#f1f1f2;
padding-left:70px;
height:80px;
}
div.popup-fb.signup div.profile p.name {
font-size:12px;
font-weight:bold;
color:#38599c;
line-height:70px;
}
div.popup-fb.signup div.profile img {
position:absolute;
left:10px;
top:10px;
width:50px;
height:50px;
}
div.popup-fb.signup div.upload-pic {
width:50px;
height:20px; 
cursor: pointer; 
overflow: hidden; 
position: absolute;
left: 10px;
top: 60px;
font-size:11px;
text-align: center;
}
div.popup-fb.signup div.upload-pic a {
color:#65781F;
}
div.popup-fb.signup div.upload-pic input {
filter: alpha(opacity = 0);
zoom:1;
opacity:0;
position:absolute;
top:0;
right:0;
}
div.popup-fb.signup div.form ul li {
position:relative;
margin-bottom: 10px;
padding-left: 110px;
}
div.popup-fb.signup div.form ul li label {
width:100px;
display:block;
text-align:right;
position:absolute;
left:0;
top:4px;
}
div.popup-fb.signup div.form ul li input[type="text"] {
border:1px solid #d0d0d0;
padding:3px;
width: 255px;
}
div.popup-fb.signup div.form input::-webkit-input-placeholder,
div.popup-fb.signup div.form input::-moz-placeholder { font-style:italic }

/* Popup Signup Page */
div.popup-fb.signup-page div.connect { 
position:relative;
margin: 15px 0;
background-color:#f1f1f2;
width:390px;
overflow:hidden;
}
div.popup-fb.signup-page div.connect div.wrapper { 
position:relative;
left:37px;
top:20px;
height:95px;
}
div.popup-fb.signup-page div.connect div.wrapper div { 
float:left;
}
div.popup-fb.signup-page div.connect div.profile { 
width:120px;
text-align:center;
position:relative;
}
div.popup-fb.signup-page div.connect div.profile img { 
border:1px solid #9a9a9b;
width:50px;
height:50px;
}
div.popup-fb.signup-page div.connect div.profile p.name { 
font-size:12px;
font-weight:bold;
color:#38599c;
display:block;
width:120px;
word-wrap: break-word;
line-height: 30px;
}
div.popup-fb.signup-page div.connect div.connect-arrow {
background: url(../../images/bg_fb/bg_button_2.png) no-repeat -182px -38px;
display: block;
width: 76px;
height: 37px;
margin-top: 12px;
}
div.popup-fb.signup-page div.connect>p { 
line-height:30px;
text-align:center;
word-wrap: break-word;
}
div.popup-fb.signup-page div.form ul li {
position:relative;
margin-bottom: 10px;
padding-left: 150px;
}
div.popup-fb.signup-page div.form ul li label.title {
text-align: right;
display: inline-block;
width: 140px;
overflow: hidden;
position: absolute;
top: 0px;
left: 0px;
line-height: 20px;
}
div.popup-fb.signup-page div.form ul li div.inputs {
margin: 7px 0;
line-height: 20px;
}
div.popup-fb.signup-page div.form ul li div.inputs label {
padding-right: 5px;
display: inline-block;
}
div.popup-fb.signup-page div.form ul li div.inputs input[type=checkbox],
div.popup-fb.signup-page div.form ul li div.inputs input[type=radio] {
	top: 2px;
	position: relative;
}
div.popup-fb.signup-page div.form ul li div.inputs input[type=text] { 
width:220px;
height:20px;
}
div.popup-fb.signup-page div.form ul li div.inputs textarea {
width:220px;
}
div.popup-fb.signup-page div.form ul li div.inputs div.checkbox label {
display:block;
}
div.popup-fb.signup-page div.form p.policy { position:relative; padding-left: 20px; font-size:11px; line-height: 18px; margin-bottom:10px;}
div.popup-fb.signup-page div.form p.policy input { position:absolute; left:0; top:2px;}
div.popup-fb.signup-page div.form p.policy a { color:#5c6f23; font-style:italic; font-weight:bold; text-decoration:none;}
div.popup-fb div.buttons a.bt-cancel { position: absolute; right: 80px;}
div.popup-fb div.buttons a.bt-next,
div.popup-fb div.buttons a.bt-done,
div.popup-fb div.buttons a.bt-next-inactive,
div.popup-fb div.buttons a.bt-done-inactive { position: absolute; right: 0;}

div.popup-fb.signup-complete div.achievement { width:270px; height:100px; margin-top:30px; padding-left:120px; position:relative; }
div.popup-fb.signup-complete div.achievement img.badge {
position:absolute; left:40px; top:0;
}


div.popup-fb-2col {
font-family: Arial, Helvetica, sans-serif;
color: #333;
width:390px;
background:#fff;
padding:15px 15px 5px;
}
div.popup-fb-2col p {
margin: 0;
}
div.popup-fb-2col > div > div:first-child {
float:left;
width:210px;
overflow:hidden;
}

div.popup-fb-2col > div > div:first-child img {
width:200px;
height:190px;
}

div.popup-fb-2col > div > div:first-child + div {
float:left;
width:180px;
}
div.popup-fb-2col {
font-size:12px;
}
div.popup-fb-2col ol {
padding-left: 30px;
margin: 10px 0;
}
div.popup-fb-2col ol li {
list-style-type: decimal;
}
div.popup-fb-2col>div {
width:100%;
overflow:hidden;
}

div.popup-fb-2col>div>div:first-child+div {
float:right;
width:180px;
}

div.popup-fb-2col>div>div:first-child+div div.profile {
position:relative;
min-height:50px;
padding-left:60px;
margin-bottom:10px;
}

div.popup-fb-2col>div>div:first-child+div div.profile p {
font-size:12px;
font-weight:bold;
color:#38599c;
}

div.popup-fb-2col>div>div:first-child+div div.profile p span {
display:block;
}

div.popup-fb-2col>div>div:first-child+div div.form>h2 {
font-size:12px;
margin-bottom:3px;
}

div.popup-fb-2col>div>div:first-child+div div.form p {
padding:5px 0 10px;
}

div.popup-fb-2col>div>div:first-child+div div.form ul>li {
width:100%;
overflow:hidden;
margin-bottom:5px;
}

div.popup-fb-2col>div>div:first-child+div div.form ul>li label {
float:left;
width:57px;
text-align:right;
padding-right:8px;
}

div.popup-fb-2col>div>div:first-child+div div.form ul>li input[type="text"] {
width:110px;
height:18px;
background:#fff;
border:1px solid #c5c5c5;
}

div.popup-fb-2col>div>div:first-child+div div.join>h2 {
font-size:14px;
padding:0 0 10px;
height:auto;
}

div.popup-fb-2col>div>div:first-child+div div.join>ul {
min-height:90px;
}

div.popup-fb-2col>div>div:first-child+div div.join>ul>li {
position:relative;
min-height:15px;
padding:0 0 4px 15px;
}

div.popup-fb-2col>div>div:first-child+div div.join>P {
padding-bottom:10px;
}

div.popup-fb-2col>div>div:first-child+div div.profile p.thumb,div.popup-fb-2col>div>div:first-child+div div.join>ul>li>span {
position:absolute;
left:0;
top:0;
}

div.popup-fb-signup-page {
	width:390px;
}

/* Button Facebook */
*.bt-back_dashboard, *.bt-config, *.bt-stay_fb, *.bt-register-now, *.bt-join-social, *.bt-don-awesome,
.bt-next, .bt-next-inactive, .bt-cancel, .bt-done, .bt-done-inactive, .bt-start, 
.bt-dashboard, .bt-get-started, .bt-configure, .bt-learn-more,
.bt-update, .bt-back, .bt-cancal-2, .checkbox_switch, .bt-browse_pic {
	background: url(../../images/bg_fb/bg_button_2.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent;
	text-indent:-9000px;
	display: block;
}

.bt-addnew_campaign {
	background: url(../../images/bg/bg_button_2.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent;
	text-indent:-9000px;
	display: block;
}

*.bt-back_dashboard {
	float: left;
	width: 143px;
	height: 32px;
	background-position: 0 -351px;
}
*.bt-config {
	float: left;
	width: 67px;
	height: 32px;
	background-position: 0 -464px;
	margin-left: 9px;
}
*.bt-stay_fb {
	float: left;
	width: 127px;
	height: 32px;
	background-position: 0 -389px;
	margin-left: 9px;
}
*.bt-register-now {
	display: block;
	margin: 0 auto;
	width: 175px;
	height: 32px;
	background-position: 0 -427px;
}
*.bt-join-social {
	display: block;
	margin: 0 auto;
	width: 175px;
	height: 32px;
	background-position: 0 -502px;
}
*.bt-don-awesome {
	display: block;
	margin: 0 auto;
	width: 176px;
	height: 32px;
	background-position: 0 -540px;
}
.bt-next {width: 73px; height: 30px; background-position: -256px 0px; }
.bt-next-inactive {width: 73px; height: 30px; background-position: -181px 0px; cursor:default;}
.bt-cancel {width: 73px; height: 30px; background-position: -106px 0px; }
.bt-done {width: 73px; height: 30px; background-position: -256px -76px; }
.bt-done-inactive {width: 73px; height: 30px; background-position: -181px -76px; cursor:default;}
.bt-start {width: 153px; height: 32px; background-position: -176px -427px;}	
.bt-dashboard { width: 84px; height: 27px; background-position: -157px -116px; }
.bt-get-started { width: 84px; height: 27px; background-position: -245px -116px; }
.bt-configure { width: 84px; height: 31px; background-position: -148px -155px; }
.bt-learn-more { width: 94px; height: 31px; background-position: -235px -155px; }
.bt-update { width: 144px; height: 31px; background-position: 0 -155px; }
.bt-back { width: 66px; height: 30px; background-position: -154px -196px;}
.bt-cancel-2 { width: 66px; height: 30px; background-position: -236px -196px; }
.checkbox_switch { width: 61px; height: 24px; background-position: 0 -281px; text-indent:0;}
.checkbox_switch input { display:none;}
.checkbox_switch.on { background-position: 0 -243px; }
.bt-browse_pic { width: 114px; height: 27px; background-position: -80px -242px; }
.bt-addnew_campaign { width: 175px; height: 32px; background-position: 0 -445px; }

#sh-bar ul.menu > li.notification a.amount {
display:block;
width:35px;
height:35px;
background:url(../../images/bg/bg_main_2.png) no-repeat -225px 6px;
text-decoration:none;
position:relative;
padding:0px 0px 0px 0px;
}

#sh-bar ul.menu > li.notification a.amount span {
font-size:10px;
background:rgba(201,25,28,0.7);
color:#fff;
position:absolute;
bottom:2px;
right:5px;
padding:1px 2px;
}

#sh-bar ul.menu>li.notification>ul {
background-color:#292929;
display:none;
width:250px;
overflow:hidden;
border-top:1px solid #1C1C1C;
position:absolute;
top:35px;
z-index:999;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

#sh-bar ul.menu > li.notification ul li {
font-size:11px;
padding: 0 5px;
}
#sh-bar ul.menu > li.notification ul li a {
position:relative;
display:block;
padding-left:60px;
color:#FFF;
text-decoration:none;
color:#FFF;
min-height: 60px;
}
#sh-bar ul.menu > li.notification ul li a img {
width:50px;
height:50px;
border:0;
position:absolute;
left:0;
top:5px;
}
#sh-bar ul.menu > li.notification ul li a p.message {
line-height: 16px;
padding-top: 5px;
}
#sh-bar ul.menu > li.notification ul li a p.time {
color:#d6ff90;
line-height:16px;
}
#sh-bar ul.menu > li.notification ul li.no-notification {
color: #fff;
text-align: center;
line-height: 35px;
}
#sh-bar ul.menu > li.notification ul li.no-notification:hover {
background-color:transparent;
}
#sh-bar ul.menu > li.notification ul li.unread{
background-color:#3d3d3d;
}

#sh-bar ul.menu > li.notification ul li.unread:hover {
background-color:#4e4e4e;
}

#sh-bar ul.menu > li.notification ul li.last-child {

background-color:#555353;
}
#sh-bar ul.menu > li.notification ul li.last-child a {
text-align: center;
text-shadow: #000 1px 1px 3px;
display: block;
text-decoration: none;
color: white;
font-weight: bold;
padding: 5px 10px 5px 0px;
min-height: initial;
}

/* Setting wrapper */
body.settings {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
	background: #fff url(../../images/bg_fb/bg_body.png) repeat-x top;
}
#app-setting-template, #app-setting-template-canvas {
	font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    overflow:hidden;
    margin-top:10px;
}
div.account-data {
	margin-bottom:10px;
	padding-left:120px;
	position:relative;
	height: 100px;
}
div.account-data div.pic {
	position:absolute;
	left:10px;
	top:0;
	width: 95px;
	height: 95px;
	overflow: hidden;
}
div.account-data div.pic img {width: 95px;}
div.account-data div.data {
	width: 365px;
}
div.account-data div.data h1 {font-size: 16px; color: #17418d; padding: 0 0 5px 2px;}
div.account-data div.data p {padding: 0 0 5px;}
div.account-data div.data ul.counter {
	width: 365px;
	height: 31px;
	background: url(../../images/bg_fb/bg_datalist.png) no-repeat;
	position: relative;
	top: 40px;
}
div.account-data div.data ul:after{
    clear:both;
    content:" ";
    display:block;
}
div.account-data ul { margin: 0; padding: 0; }
div.account-data ul li a { font-weight:bold!important; color: #333;}

div.account-data div.buttons { position:absolute; top:0; right:10px; }
div.account-data div.buttons a { float:left; margin-left: 5px; }
div.account-data ul.viewas { width:80px; cursor:pointer; position:absolute; top:20px; left:115px; z-index:9;}
div.account-data ul.viewas li { 
	display:none; 
	position:relative; 
	padding:0 10px;
	line-height:25px;
	text-align:center;
}
div.account-data ul.viewas li:first-child { 
	text-align:left;
	border:none; 
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
div.account-data ul.viewas.active a { color:#fff; }
div.account-data ul.viewas.active li { 
	display:block;
	border-top:1px solid #d4d4d4; 
	background-color:#3c3c3c; 
}

div.account-data ul.viewas.active li.last { 
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
div.account-data ul.viewas.active li:hover { background-color:#6a6a6a; }
div.account-data ul.viewas li.active { display:block; }
div.account-data ul li.active span.arrow { 
	display: block;
	position: absolute;
	top: 10px;
	right: 6px;
	width: 0;
	height: 0;
	border: solid 5px;
	border-top-color: #000;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	bottom: none;
}

div.account-data ul.active li.active span.arrow { border-top-color: #fff; }

div.account-data ul.publish  { 
	width:112px; 
	cursor:pointer; 
	position:absolute; 
	top:20px; 
	left:200px;
	z-index:9;
}
div.account-data ul.publish li { 
	display:none; 
	position:relative; 
	padding:0 10px 0 20px;
	line-height:25px;
}
div.account-data ul.publish.active { color:#fff; }
div.account-data ul.publish.active li {
	display:block;
	border-top:1px solid #d4d4d4; 
	background-color:#3c3c3c; 
}
div.account-data ul.publish.active li a { color:#fff!important; }
div.account-data ul.publish.active li:hover { background-color:#6a6a6a; }
div.account-data ul.publish li.active { display:block; }
div.account-data ul.publish li#published {
	position:relative;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
div.account-data ul.publish li#published a { color:#63791c; }
div.account-data ul.publish li#unpublished {
	position:relative;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
div.account-data ul.publish li#unpublished { color:red; }
div.account-data ul.publish li span.light { 
	position: absolute;
	top: 5px;
	left: 5px;
	width: 13px;
	height: 13px;
	display: block;
	background-image: url(../../images/bg_fb/bg_main.png);
}
div.account-data ul.publish li#published span.light { background-position:-20px -326px;}
div.account-data ul.publish li#unpublished span.light { background-position:-20px -345px; }

#app-setting-menu { list-style: none; position: absolute; top: 63px;}
#app-setting-menu li { float:left; }
#app-setting-menu li a { display:block; background-image:url(../../images/bg_fb/bg_component_menu.png); background-repeat:no-repeat; }
#app-setting-menu li a.config { width: 69px; height: 31px; }
#app-setting-menu li a.campaign { width: 86px; height: 31px; background-position:-69px 0;}
#app-setting-menu li a.invite { width: 68px; height: 31px; background-position:-155px 0;}
#app-setting-menu li a.share { width: 65px; height: 31px; background-position:-223px 0;}
#app-setting-menu li a.non-fan { width: 75px; height: 31px; background-position:-288px 0;}
#app-setting-menu li a.active, #app-setting-menu li a:hover { background-position-y:-31px; }

#app-content h2.setting-title { 
	height: 33px;
	line-height: 33px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: normal;
	color: #555;
	background: url(../../images/bg/bg_setting-h2.gif) 0 15px repeat-x;
	margin-bottom: 10px;
}
#app-content h2.setting-title span {
	background: white;
	padding: 0 8px;
}
#app-component-config { padding:0 20px;}

ul.campaigns-list { font-family:Arial; font-size:12px; margin:0; padding:0 7px; list-style:none;}
ul.campaigns-list>li { position:relative; background-color:#F2F2F2; margin-bottom:10px; padding:10px; border-bottom: solid 1px #E2E2E2; border-right: solid 1px #E2E2E2; height:50px;}
ul.campaigns-list li p { margin:0 0 10px 0; color:#999; position:absolute; top: 0; left: 0; background-color: #e4e4e4; width:98.7%; padding: 5px;}
ul.campaigns-list li ul { position:absolute; top: 30px; left: 0; }
ul.campaigns-list li a { color:#63791C; text-decoration:none; font-weight:bold;}

.app-component-form { width: 482px; overflow: hidden; color:#333; font-size:12px; font-family: Arial, Helvetica, sans-serif;}
.app-component-form ul { margin:0; padding:0; list-style:none; clear:both;}
.app-component-form ul li { position:relative; padding-left:147px;}
.app-component-form ul li label { text-align: right;
	display: inline-block;
	width: 140px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	left: 0px;
	line-height:20px;
}
.app-component-form ul li div.upload-pic img { width:114px; height:114px; }

.app-component-form ul li div.inputs { margin:7px 0; line-height:20px; }
.app-component-form ul li div.inputs input[type="text"] {padding:3px;}
.app-component-form ul li.campaign-date { height: 40px; }
.app-component-form ul li.campaign-date span.str {
	position: absolute;
	top: 25px;
	left: 147px;
	color: #63791C;
	font-size: 80%;
}
.app-component-form ul li.campaign-date span.end {
	position: absolute;
	top: 25px;
	left: 304px;
	color: #63791C;
	font-size: 80%;
}
.app-component-form div.buttons a { float:left; margin-right:5px;}
.app-component-form h3 { clear:both; color:#5f5f5f; border-bottom:1px solid #f3f3f3; width: 430px; position: relative; left: 25px; height: 20px;}

.app-component-form ul.on-off { margin-bottom: 15px; min-height: 36px; position: relative; left: 25px;}
.app-component-form ul.on-off li { width:64px; height: 36px; float:left; padding-left:124px;}
.app-component-form ul.on-off li label { width:109px;}

.app-component-form ul.cols2 { margin-bottom: 15px; min-height: 36px; position: relative; left: 40px;}
.app-component-form ul.cols2 li { width:110px; height: 36px; float:left; padding-left:112px;}
.app-component-form ul.cols2 li label { width:109px;}
.app-component-form ul.cols2 li input[type="text"] { width:50px;}
#ui-datepicker-div { font-size:12px; }

body.settings div.wrapper-content {
	width: 498px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #dddfe0;
	background: #fff;
	margin: 7px auto 0;
	padding: 10px 0;
}
div.tab-head {
	height: 33px;
	background: url(../../images/bg_fb/bg_tabhead.png) repeat-x;
}
div.tab-head:after{
    clear:both;
    content:" ";
    display:block;
}
div.tab-head>h2 {
	float: left;
	height: 33px;
	line-height: 33px;
	margin: 0 0 0 14px;
	font-size: 13px;
	color: #fff;
}
/* Get started */
#get-started { font-size: 13px; color: #3C3C3C; line-height: 18px;}
#get-started div.info { font-weight: bold; background-color:#f8ecd1; padding:0 15px; display: block; border-top: 1px solid transparent; border-bottom: 1px solid transparent; }
#get-started div.info p { margin: 10px 0; }
#get-started div.info a { color:#63791c; text-decoration:underline; }
#get-started div.note { margin-top: 5px; padding:0 15px; font-size:11px; color:#9a9a9a; font-weight: normal; line-height: 12px;}
#get-started hr { margin-top: 10px; height: 1px; background-color: #E1E1E1; color: #E1E1E1; border: 0; }

#get-started div.more-info { padding:0 15px; }
#get-started div.more-info h2 { font-size:16px; margin: 20px 0 5px 0;}

/* tooltips */
div.tooltips {
	background-color: #2A2A2A;
	color: white;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 0 9px;
	position: absolute;
	top: 35px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.tooltips span { 
	display: block;
	position: absolute;
	top: -10px;
	left: 12px;
	width: 0;
	height: 0;
	border: solid 5px;
	border-top-color: transparent !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: #2A2A2A;
	bottom: none;
}

/* Notification */
.notice { width: 93%; line-height:30px; margin:5px auto 10px; padding:0 10px!important; border:1px solid #999;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position:relative; }
.notice h2 { margin:10px 0 5px 0; }
.notice p { line-height: 12px; }
.notice ul { padding-left: 18px; }
.notice ul li { list-style:disc!important; }
.notice ul li p { line-height:12px; margin:0; }
.notice ol li { list-style:decimal!important; }
.notice a { text-decoration:underline; font-weight:bold; }
.notice a.close{ background: url(../../images/bg/notice_close.png) no-repeat top left; width: 10px; height: 10px; display: block; position: absolute; top: 10px; right: 10px; cursor:pointer; text-indent:-9000px; }
.notice.success { background-color:#efffbd; border-color:#cbd7a8; }
.notice.success a { color:#444e26; }
.notice.error { background-color:#ffc7c1; border-color:#e4aaa5; }
.notice.error a { color:#7f2b2b; }
.notice.warning { background-color:#fff6a8; border-color:#d9ce6e; }
.notice.warning a { color:#6d6311; }

/* FancyBox Hack */
#fancybox-outer {
	border: 8px solid #B5CA6E!important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#fancybox-close {
	top: -20px!important;
	right: -20px!important;
}
#fancybox-wrap {top:10% !important;} 

div.sh-sharebutton{
	font-size: 11px;
	width: 52px;
	height: 27px;
	background-image: url('../../images/temp/share_normal.png');
	background-color: #F1F1F1;
	float:right;
}
div.sh-sharebutton:hover{
	background-image: url('../../images/temp/share_hover.png');
}
div.sh-sharebutton:active{
	background-image: url('../../images/temp/share_active.png');
}

div.sh-invitebutton{
	display: block;
	background: url(../../images/temp/invite.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent !important;
	text-indent: -9000px;
	overflow:hidden;
	margin: 0;
	width: 174px; 
	height: 31px;
	background-position: -223px -144px;
}