/* Text */
.fs10 {font-size:10px;}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs13 {font-size:13px;}
.fs14 {font-size:14px;}
.fs15 {font-size:15px;}
.fs16 {font-size:16px;}
.fs17 {font-size:17px;}
.fs18 {font-size:18px;}
.lh15 {line-height:15px;}
.lh16 {line-height:16px;}
.lh17 {line-height:17px;}
.lh18 {line-height:18px;}
.lh19 {line-height:19px;}
.lh20 {line-height:20px;}
.bold {font-weight:700;}
.underline {text-decoration:underline;}
.tc-orange {color:#E29104;}
.tc-grey8 {color:#898989;}
.tc-grey5 {color:#555;}
.tc-green6 {color:#637C16;}
.tc-blue1 {color:#144853;}
.tc-blue3 {color:#3a5999;}
.tc-blue4 {color:#4199af;}
.tc-red {color:#cc1d1d;}
.ta-left {text-align:left;}
.ta-center {text-align:center;}
.ta-right {text-align:right;}
.abs-b {position: absolute; bottom: 0;}
.abs-r {position: absolute; top: 0; right: 0;}
.abs-r20 {position: absolute; top: 0; right: 20px;}
.m0 {margin:0;}
.mt0 {margin-top:0!important;}
.mt5 {margin-top:5px;}
.mt7 {margin-top:7px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mb0 {margin-bottom:0;}
.mb5 {margin-bottom:5px;}
.mb7 {margin-bottom:7px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}

.p10 {padding:0 10px}
.p15 {padding:0 15px!important}
.p20 {padding:0 20px}
.p25 {padding:0 25px}
.bd0 {border:0 solid transparent!important;}
.fl {float: left;}
.fr {float: right;}
.w100 {width:100%;}

/* Heading */
.h-strip {
	height: 33px;
	line-height: 33px;
	padding: 0 25px;
	font-size: 20px;
	font-weight: normal;
	color: #555;
	background: url(../../images/bg/bg_setting-h2.gif) 0 15px repeat-x;
}
.h-strip span {
	background-color:#fff;
	padding:0 10px;
}

/* Notification */
.notice { line-height:30px; margin:5px auto; padding:0 10px!important; border:1px solid #999;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position:relative; }
.notice h2 { margin:10px 0 5px 0; }
.notice p {  }
.notice ul { padding-left: 18px; }
.notice ul li { list-style:disc!important; }
.notice ol li { list-style:decimal!important; }
.notice a { text-decoration:underline; font-weight:bold; }
.notice a.close{ background: url(../../images/bg/notice_close.png) no-repeat top left; width: 10px; height: 10px; display: block; position: absolute; top: 10px; right: 10px; cursor:pointer; text-indent:-9000px; }
.notice.success { background-color:#efffbd; border-color:#cbd7a8; }
.notice.success a { color:#444e26; }
.notice.error { background-color:#ffc7c1; border-color:#e4aaa5; }
.notice.error a { color:#7f2b2b; }
.notice.warning { background-color:#fff6a8; border-color:#d9ce6e; }
.notice.warning a { color:#6d6311; }

select.form-error,
textarea.form-error,
input[type="text"].form-error {
	border: 1px solid red!important;
	padding: 1px;
}

/* Block */
.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
}
.round-top4 {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.round4 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.round6 {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/* column */
.left-col, .right-col {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
	width: 49.5%;
}

/* buttons */
.btn {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	text-align: center;
	text-decoration:none;
	color:#b1b1b1;
	font-weight:700;
	border: 1px solid #dbdbdb;
	border-bottom:1px solid #e9e9e9;
	background: #fefefe;
	background: -moz-linear-gradient(top,  #fefefe 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#e6e6e6 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#e6e6e6 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#e6e6e6 100%);
	background: linear-gradient(top,  #fefefe 0%,#e6e6e6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6',GradientType=0 );
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.btn span {
	display:block;
	padding: 0 10px;
	min-width:50px;
	line-height:25px;
	border:1px solid;
	border-color:#fff #e9e8e8 #e9e8e8 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.btn.large span {line-height:33px;}
.btn:hover {
	text-decoration:none;
}

.btn.grey { 
	color: #555;
	border-color:#bebdab #c2bfac #c3c1b2 #c8c6af;
	background: #fcfefb;
	background: -moz-linear-gradient(top,  #fcfefb 33%, #d6d6d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#fcfefb), color-stop(100%,#d6d6d6));
	background: -webkit-linear-gradient(top,  #fcfefb 33%,#d6d6d6 100%);
	background: -o-linear-gradient(top,  #fcfefb 33%,#d6d6d6 100%);
	background: -ms-linear-gradient(top,  #fcfefb 33%,#d6d6d6 100%);
	background: linear-gradient(top,  #fcfefb 33%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfefb', endColorstr='#d6d6d6',GradientType=0 );
}
.btn.grey:hover {
	border-color:#b7b4a2;
	background: #f8f9f7;
	background: -moz-linear-gradient(top,  #f8f9f7 70%, #d6d6d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#f8f9f7), color-stop(100%,#d6d6d6));
	background: -webkit-linear-gradient(top,  #f8f9f7 70%,#d6d6d6 100%);
	background: -o-linear-gradient(top,  #f8f9f7 70%,#d6d6d6 100%);
	background: -ms-linear-gradient(top,  #f8f9f7 70%,#d6d6d6 100%);
	background: linear-gradient(top,  #f8f9f7 70%,#d6d6d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f7', endColorstr='#d6d6d6',GradientType=0 );
}
.btn.grey span { border-color:transparent; }

.btn.green { 
	color: #425024;
	text-shadow: 1px 1px 0 #bad667;
	border: 1px solid #9eaa5e;
	border-bottom:1px solid #a4b662;
	background: #daeca2;
	background: -moz-linear-gradient(top,  #daeca2 0%, #c4df74 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daeca2), color-stop(100%,#c4df74));
	background: -webkit-linear-gradient(top,  #daeca2 0%,#c4df74 100%);
	background: -o-linear-gradient(top,  #daeca2 0%,#c4df74 100%);
	background: -ms-linear-gradient(top,  #daeca2 0%,#c4df74 100%);
	background: linear-gradient(top,  #daeca2 0%,#c4df74 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daeca2', endColorstr='#c4df74',GradientType=0 );
}
.btn.green:hover {
	background: #d0dd99;
	background: -moz-linear-gradient(top,  #d0dd99 0%, #c0dd68 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0dd99), color-stop(100%,#c0dd68));
	background: -webkit-linear-gradient(top,  #d0dd99 0%,#c0dd68 100%);
	background: -o-linear-gradient(top,  #d0dd99 0%,#c0dd68 100%);
	background: -ms-linear-gradient(top,  #d0dd99 0%,#c0dd68 100%);
	background: linear-gradient(top,  #d0dd99 0%,#c0dd68 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0dd99', endColorstr='#c0dd68',GradientType=0 );
}
.btn.green span { border-color:#f8faed #cce28f #c4df74 #c3d78f; }

.btn.red { 
	position:relative;
	top:-1px;
	color: #fff;
	text-shadow: 1px 1px 0 #f29f95;
	border: 1px solid #f56a67;
	background: #e32623;
	background: -moz-linear-gradient(top,  #e32623 0%, #e84937 46%, #e84937 55%, #e84937 100%, #e84937 100%, #e32623 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e32623), color-stop(46%,#e84937), color-stop(55%,#e84937), color-stop(100%,#e84937), color-stop(100%,#e84937), color-stop(100%,#e32623));
	background: -webkit-linear-gradient(top,  #e32623 0%,#e84937 46%,#e84937 55%,#e84937 100%,#e84937 100%,#e32623 100%);
	background: -o-linear-gradient(top,  #e32623 0%,#e84937 46%,#e84937 55%,#e84937 100%,#e84937 100%,#e32623 100%);
	background: -ms-linear-gradient(top,  #e32623 0%,#e84937 46%,#e84937 55%,#e84937 100%,#e84937 100%,#e32623 100%);
	background: linear-gradient(top,  #e32623 0%,#e84937 46%,#e84937 55%,#e84937 100%,#e84937 100%,#e32623 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e32623', endColorstr='#e32623',GradientType=0 );
}
.btn.red span { border-color:#f9d3d3 #e95444 #f3514e #ed6154; line-height:24px;}

.btn.fb-blue {
	color: #fff;
	text-shadow: 1px 1px #2D4679;
	border-color:#2D4679 #DBDBDB #DBDBDB #2D4679;
	background: #3b5997;
	background: -moz-linear-gradient(top,  #3b5997 0%, #466196 50%, #3b5997 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5997), color-stop(50%,#466196), color-stop(100%,#3b5997));
	background: -webkit-linear-gradient(top,  #3b5997 0%,#466196 50%,#3b5997 100%);
	background: -o-linear-gradient(top,  #3b5997 0%,#466196 50%,#3b5997 100%);
	background: -ms-linear-gradient(top,  #3b5997 0%,#466196 50%,#3b5997 100%);
	background: linear-gradient(top,  #3b5997 0%,#466196 50%,#3b5997 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5997', endColorstr='#3b5997',GradientType=0 );
}
.btn.fb-blue:hover {
	background: #2d5193;
	background: -moz-linear-gradient(top,  #2d5193 0%, #3b5997 30%, #3b5997 70%, #2d5193 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d5193), color-stop(30%,#3b5997), color-stop(70%,#3b5997), color-stop(100%,#2d5193));
	background: -webkit-linear-gradient(top,  #2d5193 0%,#3b5997 30%,#3b5997 70%,#2d5193 100%);
	background: -o-linear-gradient(top,  #2d5193 0%,#3b5997 30%,#3b5997 70%,#2d5193 100%);
	background: -ms-linear-gradient(top,  #2d5193 0%,#3b5997 30%,#3b5997 70%,#2d5193 100%);
	background: linear-gradient(top,  #2d5193 0%,#3b5997 30%,#3b5997 70%,#2d5193 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d5193', endColorstr='#2d5193',GradientType=0 );
}
.btn.fb-blue span { border-color:#5972A4 #2D4679 #2D4679 #5972A4;}

.btn.inactive, .btn.inactive:hover {
	cursor: default;
	color: #777;
	text-shadow: none;
	border:1px solid #e5e5e5;
	background: #f5f5f5;
}
.btn.inactive span { border-color:transparent; }

/* user thumb */
.user-thumb {
	background-position:center;
	background-repeat:no-repeat;
	background-color:#fff;
	background-size:100%;
}
.user-thumb.s25 {
	width:25px;
	height:25px;
	overflow:hidden;
}

/* Icon */
.icon {
	cursor:pointer;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
}
.icon.color {
	background-image: url(../../images/btn-icon.png);
	background-repeat: no-repeat;
}
.icon.color.edit {
	width: 23px;
	height: 23px;
	background-position: -14px -116px;
}
.icon.white {
	background-image: url(../../images/bg/bg_icon_white.png);
	background-repeat: no-repeat;
}
.icon.white.share {
	width: 20px;
	height: 20px;
	background-position: -3px -9px;
}
.icon.white.star {
	width: 20px;
	height: 20px;
	background-position: -4px -45px;
}
.icon.gray.help {
	cursor: help;
	width: 19px;
	height: 19px;
	line-height:19px;
	border-radius:10px;
	text-align:center;
	font-weight:bold;
	background-color: #575757;
}


/* app icon list */
.app-icon-list.no-app {
	border:1px dashed #787878;
	padding:15px;
	height:auto;
	width: 88%;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
.app-icon-list.no-app .app-container {
	width:auto;
	height:auto;
	letter-spacing:normal;
}
.app-icon-list {
	width:454px;
	margin:15px auto 15px auto;
	overflow:hidden;
	height:100px;
	letter-spacing:11px;
	font-size: 11px;
}
.app-icon-list .app-container {
	width:64px;
	height:100px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
	letter-spacing:normal;
}
.app-icon-list .app-icon {
	display: block;
	width:64px;
	height:64px;
	overflow: hidden;
	border:none;
}
.app-icon-list .app-name {
	color:#555;
	text-decoration:none;
	margin-top:5px;
	width:64px;
	display:block;
	word-wrap: break-word;
	text-align:center;
	font-weight:bold;
}

/* Reward setting */
.tab-head {
	height:auto;
	line-height: 42px;
	padding:0 15px;
	color: #fff;
	background: #4a4a4a;
	background: -moz-linear-gradient(top,  #4a4a4a 0%, #4a4a4a 50%, #595959 53%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(50%,#4a4a4a), color-stop(53%,#595959));
	background: -webkit-linear-gradient(top,  #4a4a4a 0%,#4a4a4a 50%,#595959 53%);
	background: -o-linear-gradient(top,  #4a4a4a 0%,#4a4a4a 50%,#595959 53%);
	background: -ms-linear-gradient(top,  #4a4a4a 0%,#4a4a4a 50%,#595959 53%);
	background: linear-gradient(top,  #4a4a4a 0%,#4a4a4a 50%,#595959 53%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#595959',GradientType=0 );
}
.tab-head.slim {line-height:34px;}
.tab-head .tab-name {
	font-weight:bold;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
}
.tab-head .tab {
	position: relative;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	color: #fff;
	padding:0 10px;
	margin:8px 4px 8px 0;
	line-height:24px;
	border: 1px solid transparent;
}
.tab-head.slim .tab {
	line-height:24px;
	margin: 4px 4px 4px 0;
}
.tab-head .tab::after {
	content:"";
	display: block;
	position: absolute;
	top:-5px;
	left:-5px;
	height: 28px;
	width:1px;
	background: url(../../images/bg_fb/bg_tabhead-menu.png) no-repeat 0 0;
}
.tab-head .tab:first-child::after {background:none;}

.tab-head .tab.active {
	background-color:#343434;
	box-shadow:inset 0 0 10px #111;
	border-top:1px solid #393939;
	border-left:1px solid #464646;
	border-right:1px solid #464646;
	border-bottom:1px solid #6b6b6b;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.tab-head .add-reward-item {margin-top: 6px;}

/* Blue tab */
.tab-blue {
	height:auto;
	line-height: 33px;
	padding:0 10px;
	margin-top:7px;
	color: #fff;
	background: #5cc2db;
	background: -moz-linear-gradient(top,  #5cc2db 50%, #4bb6d3 51%, #4bb6d3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#5cc2db), color-stop(51%,#4bb6d3), color-stop(100%,#4bb6d3));
	background: -webkit-linear-gradient(top,  #5cc2db 50%,#4bb6d3 51%,#4bb6d3 100%);
	background: -o-linear-gradient(top,  #5cc2db 50%,#4bb6d3 51%,#4bb6d3 100%);
	background: -ms-linear-gradient(top,  #5cc2db 50%,#4bb6d3 51%,#4bb6d3 100%);
	background: linear-gradient(top,  #5cc2db 50%,#4bb6d3 51%,#4bb6d3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc2db', endColorstr='#4bb6d3',GradientType=0 );
}
.tab-blue .icon {
	position:relative; 
	top:6px;
	cursor: default;
}

/* Reward */
.reward-item {
	width: 480px;
	margin-bottom:20px;
	position: relative;
}
.reward-item:first-child {margin-top:20px;}
.reward-item-list .reward-item:hover, .reward-item-form {
	background-color:#fef9cf;
	-moz-box-shadow: 1px 1px 4px #D7D7D7;
	-webkit-box-shadow: 1px 1px 4px #D7D7D7;
	box-shadow: 1px 1px 4px #D7D7D7;
}
.reward-item .notice {
	width: 430px;
	margin-top: 15px;
}
.reward-item .section {
	padding:15px;
	border-top:1px solid #e4da92;
}
.reward-item .section .line {
	margin-top:15px;
}
.reward-item .section .line:first-child {
	margin-top:0;
}
.reward-item .section.first {border-top:none;}
.reward-item .item-image {
	position: relative;
	width:248px;
	height:211px;
	border:1px solid #ccc;
	background-color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	background-size: 100%;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
}
.reward-item .item-image::before {
	content:"";
	position: relative;
	display: block;
	top:-6px;
	left:-6px;
	width:118px;
	height:57px;
	z-index: 1;
}
.reward-item .expired::before {background-image:url(../../images/bg/reward_expired.png);}
.reward-item .soon::before {background-image:url(../../images/bg/reward_coming_soon.png);}
.reward-item .no_more::before {background-image:url(../../images/bg/reward_out_of_stock.png);}
.reward-item .item-image.error {
	border-color:red;
}
.reward-item .item-info {
	width:186px;
	margin-left:10px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
}
.reward-item .item-info .box {
	margin-top:10px;
	line-height:18px;
}
.reward-item .point {
	display: inline-block;
	color: #DCBB26;
	font-weight: bold;
	padding-left: 25px!important;
	background-image: url(../../images/bg_fb/bg_main.png);
	background-position: 5px -260px;
	background-size: 232px;
	background-repeat: no-repeat;
}
.reward-item .remaining-time {
	background-color: #d9d9d9;
	padding:0 8px;
	height:30px;
	width:232px;
	line-height:30px;
}
.reward-item .description {
	overflow: hidden;
	max-height:44px;
	line-height: 15px;
}