
/*
###########################################

Social Happen Facebook

author: Oat (okaynaja)

###########################################
*/
* {margin: 0; padding: 0;}
img, fieldset {border: 0;}
li {list-style: none;}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
	background: #fff url(../../images/bg_fb/bg_body.png) repeat-x top;
}
div.socialhappen-fb {
	width: 520px;
	margin: 0 auto;
}

div.account-data {
	width: 368px;
	margin: 0 auto 18px;
}
div.account-data:after{
    clear:both;
    content:" ";
    display:block;
}
div.account-data div.pic {
	float: left;
	width: 96px;
	height: 96px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
div.account-data div.pic img {width: 95px;}
div.account-data div.pic span {
	display: block;
	width: 96px;
	height: 96px;
	background: url(../../images/bg_fb/fill_top95-95png.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
div.account-data div.data h1 {font-size: 16px; color: #17418d; padding: 0 0 5px;}
div.account-data div.data p {padding: 0 0 5px;}

div.account-data div.data ul:after{
    clear:both;
    content:" ";
    display:block;
}
div.account-data div.data ul.counter li {
	float: left;
	height: 31px;
	line-height: 31px;
	font-size: 11px;	
}
div.account-data div.data ul.counter li a {display: block; color: #333; text-decoration: none;}
div.account-data div.data ul.counter li.fav {width: 111px;}
div.account-data div.data ul.counter li.fav a {
	padding: 0 0 0 40px;
	height: 31px;
	background: url(../../images/bg_fb/bg_main.png) no-repeat 6px -114px;
}
div.account-data div.data ul.counter li:first-child:hover,
div.account-data div.data ul.counter li.active:first-child {background: url(../../images/bg_fb/bg_datalist-01.png) no-repeat;}

div.account-data div.data ul.counter li.activities a,
div.account-data div.data ul.counter li.member a,
div.account-data div.data ul.counter li.applications a,
div.account-data div.data ul.counter li.campaigns a {
	background-image: url(../../images/bg_fb/bg_main.png);
	background-repeat:no-repeat;
	padding-right:10px; 
	text-align: right; 
}
div.account-data div.data ul.counter li.member {width: 98px; margin-left: 1px;}
div.account-data div.data ul.counter li.member a  {background-position:6px -155px;}
div.account-data div.data ul.counter li.activities {width: 99px; margin-left: 1px;}
div.account-data div.data ul.counter li.activities a { background-position:6px -599px; }
div.account-data div.data ul.counter li.applications {width: 80px; margin-left: 1px;}
div.account-data div.data ul.counter li.applications a { background-position:6px -637px; }
div.account-data div.data ul.counter li.campaigns {width: 83px; margin-left: 1px; }
div.account-data div.data ul.counter li.campaigns:hover {background: url(../../images/bg_fb/bg_datalist-03.png) no-repeat right top;}
div.account-data div.data ul.counter li.campaigns a { background-position:6px -364px; }

div.account-data div.data ul.counter li:hover, div.account-data div.data ul.counter li.active {background: url(../../images/bg_fb/bg_datalist-02.png) repeat-x;}
div.account-data div.data ul.counter li.badges {width: 75px; margin-left: 1px;}
div.account-data div.data ul.counter li.badges a {
	padding: 0 0 0 38px;
	background: url(../../images/bg_fb/bg_main.png) no-repeat 6px -198px;
}
div.account-data div.data ul.counter li.point {width: 64px; margin-left: 1px;}
div.account-data div.data ul.counter li.point a {
	padding: 0 0 0 32px;
	background: url(../../images/bg_fb/bg_main.png) no-repeat 6px -238px;
}
div.account-data div.data ul.counter li.setting {width: 42px; margin-left: 1px;}
div.account-data div.data ul.counter li.setting:hover {background: url(../../images/bg_fb/bg_datalist-03.png) no-repeat;}
div.account-data div.data ul.counter li:first-child+li+li+li+li.active {background: url(../../images/bg_fb/bg_datalist-03.png) no-repeat;}
div.account-data div.data ul.counter li.setting a {
	display: block;
	width: 42px;
	height: 35px;
	background: url(../../images/bg_fb/bg_main.png) no-repeat 9px -280px;
}
div.account-data div.data ul.counter li.setting a span {display: none;}


div.wrapper-content {
	width: 498px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #dddfe0;
	background: #fff;
	margin: 7px auto 0;
	padding: 10px 0;
}
div.list_app-camp {
	width: 475px;
	margin: 0 auto;
}
div.list_app-camp>ul>li {
	width: 100%;
	padding: 12px 0;
	border-bottom: 1px solid #e1e1e1;
}
div.list_app-camp>ul>li:after{
    clear:both;
    content:" ";
    display:block;
}
div.list_app-camp>ul>li>div:first-child {
	float: left;
	width: 230px;
	min-height: 75px;
	padding: 5px 0 0 90px;
	position: relative;
}
div.list_app-camp>ul>li>div:first-child p.pic {
	position: absolute;
	left: 0;
	top: 0;
}
div.list_app-camp>ul>li>div:first-child h2 { font-size: 12px; color: #63791c; padding-bottom: 5px;}
div.list_app-camp>ul>li>div:first-child p {padding-bottom: 5px;}
div.list_app-camp>ul>li>div:first-child p a { color: #63791c; font-weight: bold; text-decoration: underline;}
div.list_app-camp>ul>li>div:first-child p a:hover {text-decoration: none;}
div.list_app-camp>ul>li>div:first-child p.link {position: absolute; left: 90px; bottom: 0; padding: 0;}
div.list_app-camp>ul>li>div:first-child p.link>a+a {
	margin-left: 5px;
	padding-left: 11px;
	background:url(../../images/bg_fb/bg_main.png) 0 -580px;
}
div.list_app-camp>ul>li>div:first-child+div {
	float: right;
	width: 148px;
	background: #f2f2f2;
	border: 1px solid #ebebeb;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding: 7px 0 0;
	text-align: center;
}
div.list_app-camp>ul>li>div:first-child+div>h2 { font-size: 12px; color: #144957; padding-bottom: 5px;}
div.list_app-camp>ul>li>div:first-child+div>p {padding: 0 0 5px;}
div.list_app-camp>ul>li>div:first-child+div>p stromg { font-size: 16px;}
div.list_app-camp>ul>li>div:first-child+div>ul {width: 100%; overflow: hidden; padding: 5px 0; background: #f9f9f9; border-top: 1px solid #e1e1e1;}
div.list_app-camp>ul>li>div:first-child+div>ul>li { float: left; width: 50%; text-align: center; font-weight: bold;}
div.list_app-camp>ul>li>div:first-child+div>ul>li>span {display: block; color: #65781c; font-size: 11px; font-weight: normal;}
div.list_app-camp>ul>li>div:first-child+div.clear { background: #f9f9f9;}
div.list_app-camp>ul>li>div:first-child+div.clear>ul {border: none;}

div.list_resent-activity {
	width: 475px;
	margin: 0 auto;
}
div.list_resent-activity>ul>li {
	width: 100%;
	min-height: 50px;
	padding: 10px 0;
	border-bottom: 1px solid #e1e1e1;
}
div.list_resent-activity>ul>li:after{
    clear:both;
    content:" ";
    display:block;
}
div.list_resent-activity>ul>li>div:first-child {
	float: left;
	width: 310px;
	padding: 3px 0 0 60px;
	font-size: 12px;
	position: relative;
}
div.list_resent-activity>ul>li>div:first-child p.pic {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	overflow: hidden;
}
div.list_resent-activity>ul>li>div:first-child p.pic img {
	width:50px;
}
div.list_resent-activity>ul>li>div:first-child p.desc {
	width: 310px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-height: 28px;
}
div.list_resent-activity>ul>li>div:first-child p.desc:hover {
	text-overflow: initial;
	overflow: initial;
	background-color:#fff;
}
div.list_resent-activity>ul>li>div:first-child p.desc a {
	color: #63791C;
}
div.list_resent-activity>ul>li>div:first-child p.desc span {
	font-size: inherit;
color: inherit;
padding: 0;
}
div.list_resent-activity>ul>li>div:first-child>h2 { font-size: 13px; color: #395a9d;}
div.list_resent-activity>ul>li>div:first-child>p span { font-size: 11px; color: #9a9a9a; padding: 4px 0 0;}
div.list_resent-activity>ul>li>div:first-child+div {
	float: right;
	width: 80px;
}
div.list_resent-activity>ul>li>div:first-child+div {}
div.list_resent-activity>ul>li>div:first-child+div p.star {
	display: block;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	padding: 0 0 0 30px;
	background: url(../../images/bg_fb/bg_main.png) no-repeat 0 -370px;
	margin: 15px auto;
}

div.strip {padding: 10px 0;}
div.strip ul {
    height: 10px;
    margin: 0 auto;
    width: 100px;
}
div.strip ul li {
    float: left;
    margin: 0 5px;
}
div.strip ul li a {
    background: url(../../images/bg_fb/bg_main.png) no-repeat scroll 0 -347px;
    display: block;
    height: 10px;
    width: 10px;
}
div.strip ul li a.current {background-position: 0 -328px;}

div.footer {	
	width: 498px;
	padding: 8px 0;
	margin: 0 auto;
	font-size: 11px;
	color: #414243;
	position: relative;
}
div.footer a {color: #63791c; text-decoration: none;}
div.footer a:hover {text-decoration: underline;}
div.footer p.logo {
	position: absolute;
	right: 0;
	top: 8px;
}

/* setting */
div.box-setting { width: 474px; margin: 0 auto;}
div.box-setting a {color: #37518a; text-decoration: underline}
div.box-setting a:hover {text-decoration: none;}
div.box-setting>div {
	margin: 0 auto;
	border-bottom: 1px dotted #a6a6a6;
	margin-bottom: 15px;
}
div.box-setting>div.style01 {
	background: #f3f3f3;
	border: none;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.box-setting>div>div { padding: 10px 35px;}
div.box-setting>div.style01>h2 span{ background: #f3f3f3 !important;}
div.box-setting>div.style01>h2 {background: url(../../images/bg_fb/bg_setting-h2_01.png) 0 15px repeat-x;}

div.box-setting>div>h2 {
	height: 33px;
	line-height: 33px;
	padding: 0 25px;
	font-size: 16px;
	font-weight: normal;
	color: #555;
	background: url(../../images/bg_fb/bg_setting-h2.gif) 0 15px repeat-x;
}
div.box-setting>div>h2 span {background: #fff; padding: 0 8px;}

ul.form01 {padding: 15px 0;}
ul.form01>li {
	position: relative;
	padding:  0 0 15px 145px;
	font-size: 12px;
	color: #3c3c3c;
	min-height: 22px;
}
ul.form01>li>strong {
	display: block;
	width: 125px;
	text-align: right;
	position: absolute;
	left: 0;
	top: 0;
	font-weight: normal;
	font-size: 12px;
	color: #3c3c3c;
}
ul.form01>li input[type="text"] {
	width: 300px;
	height: 25px;
	padding: 0 5px;
	border: 1px solid #e1e1e1;
}
ul.form01>li textarea {
	width: 300px;
	height: 153px;
	padding: 0 5px;
	border: 1px solid #e1e1e1;
}
ul.form01>li select {width: 312px;}
ul.form01>li label {padding-right: 25px;}
ul.form01>li.border {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 15px;
}
ul.form01>li>div {
	width: 160px;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	line-height: 22px;
	
}
ul.form01>li>div a { color: #798e37;}
ul.form01>li>div p a { padding: 0 0 0 10px;}

p.head {
	border-bottom: 1px solid #e1e1e1;
	padding: 5px 0;
	font-weight: bold;
	width: 100%;
	overflow: hidden;
}
p.head>span {float: left;}
p.head>span:first-child {width: 125px; text-align: right;}
p.head>span:first-child+span { width: 280px; padding-left: 18px;}
ul.style01>li {
	width: 290px;
	padding: 0 0 10px 0;
	position: relative;
}
ul.style01>li input[type="checkbox"] {
	position: absolute;
	left: 288px;
	top: 3px;
}

div.bg-none *.bt-change_pic { margin: 15px 0 0;}
div.pic-profile {
	width: 145px !important;
	min-height: 55px;
	padding-left: 73px;
	position: relative !important;
	overflow: hidden;
	font-size: 12px;
	text-align: center;
	background: url(../../images/bg_fb/bg_or.png) 98% 32px no-repeat;
}
div.pic-profile p.pic {
	float: left;
	border: 3px solid #e3e3e3;
	position: absolute;
	left: 0;
	top: 0;
}
div.box-gray {
	width: 475px;
	margin: 0 auto 30px;
	text-align: center;
	padding: 15px 0 5px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background: #f2f2f2;
}
div.box-gray p {padding-bottom: 10px;}
div.box-intro {
	width: 475px;
	margin: 0 auto;
}
div.box-intro>h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 0 0 7px;
	border-bottom: 1px dotted #a6a6a6;
	color: #424242;
	margin: 0 0 14px;
}
div.box-intro>div.slide {width: 460px; margin: 0 auto; position: relative;}
div.box-intro>div.slide a.back, div.box-intro>div.slide a.next {
	width: 24px;
	height: 49px;
	background:url(../../images/bg_fb/bg_main.png) no-repeat;
	position: absolute;
	top: 90px;
	z-index: 999;
}
div.box-intro>div.slide a.back span, div.box-intro>div.slide a.next span { display: none;}
div.box-intro>div.slide a.back { background-position: 0 -466px; left: 0;}
div.box-intro>div.slide a.next {background-position: 0 -407px; right: 0;}

/* button */
*.bt-join, *.bt-already_join, *.bt-time_up, *.bt-change_pic, *.bt-update, *.bt-close_account, *.bt-button-on, *.bt-button-off, *.bt-go_dashboard {
	background: url(../../images/bg_fb/bg_button.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent;
}
*.bt-join span, *.bt-bt-already_join span, *.bt-time_up span, *.bt-change_pic span, *.bt-update span, *.bt-close_account span, *.bt-button-on span, *.bt-button-off span, *.bt-go_dashboard span, *.bt-back_dashboard span, *.bt-config span, *.bt-stay_fb span, *.bt-register-now span, *.bt-join-social span, *.bt-don-awesome span{display: none;}
*.bt-join {
	display: block;
	width: 104px;
	height: 27px;
	background-position: 0 0;
	margin: 0 auto;
}
*.bt-already_join {
	display: block;
	width: 104px;
	height: 27px;
	background-position: 0 -38px;
	margin: 0 auto;
}
*.bt-time_up {
	display: block;
	width: 104px;
	height: 27px;
	background-position: 0 -77px;
	margin: 0 auto;
}
*.bt-change_pic {
	display: block;
	width: 144px;
	height: 27px;
	margin-bottom: 15px;
	background-position: 0px -116px;
}
*.bt-update {
	display: block;
	width: 144px;
	height: 31px;
	background-position: 0px -155px;
}
*.bt-close_account {
	display: block;
	width: 144px;
	height: 34px;
	margin-top: 15px;
	background-position: 0px -195px;
}
*.bt-button-on {
	float: left;
	width: 61px;
	height: 24px;
	background-position: 0px -243px;
	margin-right: 10px;
	padding: 0;
}
*.bt-button-off {
	float: left;
	width: 61px;
	height: 24px;
	margin-right: 10px;
	background-position: 0px -281px;
	padding: 0;
}
*.bt-go_dashboard {
	display: block;
	margin: 0 auto;
	width: 143px;
	height: 32px;
	background-position: 0 -313px;
}