a {
	cursor:pointer;
}
div.header {
	/*background: url(../../images/bg_fb/bg_header.png) no-repeat;*/
	background-color:#FFF;
}

/* Pagination */
div.strip {padding: 10px 0;}
div.strip div.pagination {
    height: 10px;
    margin: 0 auto;
    width: 100px;
}
div.strip div.pagination a , div.strip div.pagination span.current {
    float: left;
    margin: 0 5px;
}
div.strip div.pagination a {
    background: url(../../images/bg_fb/bg_main.png) no-repeat scroll 0 -347px;
    display: block;
    height: 10px;
    width: 10px;
	text-indent:-900px;
	overflow:hidden;
}
div.strip div.pagination span.current {
	background: url(../../images/bg_fb/bg_main.png) no-repeat scroll 0 -328px;
    display: block;
    height: 10px;
    width: 10px;
	text-indent:-900px;
	overflow:hidden;
}

/* Signup */
div.upload-pic {
	width:50px;
	height:20px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute;
	left: 0;
	top: 50px;
	font-size:11px;
	text-align: center;
}
div.upload-pic a {
	color:#65781F;
}
div.upload-pic input {
	filter: alpha(opacity = 0);
	zoom:1;
	opacity:0;
	position:absolute;
	top:0;
	right:0;
}
label.error {color:red;}

/* Dashboard */
div.list_app-camp>ul>li>div:first-child p.pic img {
	width:80px;
}
.bt-time_up {
	cursor:auto;
}


/* FancyBox Hack */
#fancybox-outer {
	border: 8px solid #B5CA6E!important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#fancybox-close {
	top: -20px!important;
	right: -20px!important;
}

/* View my profile */
div.account-data div.pic img {
	width: 95px;
}
div.account-data div.friend ul > li a img {
	width:30px;
	height:30px;
}