a {
	cursor:pointer;
}
div.header {
	/*background: url(../../images/bg_fb/bg_header.png) no-repeat;*/
	background-color:#FFF;
}
div#main { min-height: 500px; }
div.wrapper-content {min-height: 478px;}
div.list_app-camp {min-height: 130px;}

/* Button */
.bt-remove {
	display: block;
	background: url(../../images/bg/bg_button_2.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent !important;
	text-indent: -9000px;
	overflow:hidden;
	margin: 0;
}
.bt-remove { width: 15px; height: 15px; background-position: -284px -1px; display:inline-block; }

/* Pagination */
div.strip {padding: 10px 0; text-align: center;}
div.strip div.pagination {
    height: 10px;
    margin: 0 auto;
    display:inline-block;
}
div.strip div.pagination a , div.strip div.pagination span.current {
    float: left;
    margin: 0 5px;
}
div.strip div.pagination a {
    background: url(../../images/bg_fb/bg_main.png) no-repeat scroll 0 -347px;
    display: block;
    height: 7px;
    width: 6px;
	text-indent:-900px;
	overflow:hidden;
}
div.strip div.pagination span.current {
	background: url(../../images/bg_fb/bg_main.png) no-repeat scroll 0 -328px;
    display: block;
    height: 10px;
    width: 10px;
	overflow:hidden;
	color: transparent; /*for non-IE*/
	font-size: 0; /*for IE*/
}

/* Pagination (number) */
.paging {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: right;
	padding-right:13px;
	padding-top:2px;
}
.paging a {
	display: block;
	background: url(../../images/bg/bg_main.png) no-repeat;
	cursor: pointer;
	float:left;
	width:21px;
	height:21px;
	background-position:0 -250px;
	text-align:center;
	padding:3px 2px 0 2px;
	color: #666;
}
.paging a:hover {
	text-decoration:none;
	color:#000;
}
.paging span{
	color: #fff;
}
.paging span.current {
	display: block;
	background: url(../../images/bg/bg_main.png) no-repeat;
	float:left;
	width:21px;
	height:21px;
	text-align:center;
	padding:3px 2px 0 2px;
	background-position:-30px -250px;
	color:fff;
}


.pagination-bar-top {
	background: #e8e8e8;
	padding: 0;
	height: 30px;
}
.pagination-bar-bottom {
	background: #e8e8e8;
	padding: 0;
	height: 30px;
}
div.pagination {
    font-size: 12px;
    font-weight: bold;
    position: relative;
}
div.pagination ul li {
	float:left;
}
div.pagination a {
    display: block;
    background: url(../../images/bg/bg_main.png) no-repeat;
    cursor: pointer;
    float:left;
    width:21px;
    height:21px;
    background-position:0 -250px;
    text-align:center;
    padding:3px 2px 0 2px;
    color: #666;
}
div.pagination a:hover {
    text-decoration:none;
    color:#000;
}
div.pagination span{
    color: #fff;
}
div.pagination> a.active{
    width:21px;
    height:21px;
    background-position:-30px -250px;
    color:fff;
}

/* Dashboard */
div.list_app-camp>ul>li>div:first-child p.pic img {
	width:80px;
}
.bt-time_up {
	cursor:auto;
}


/* FancyBox Hack */
#fancybox-outer {
	border: 8px solid #B5CA6E!important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#fancybox-close {
	top: -20px!important;
	right: -20px!important;
}

/* View my profile */
div.account-data div.pic img {
	width: 95px;
}
div.account-data div.friend ul > li a img {
	width:30px;
	height:30px;
}

/* main-wrapper */
div.main-wrapper {
	width: 490px;
	margin: 10px auto;
}
a.go-back {
	color:#134856;
	font-weight:bold;
	font-size:14px;
}
a.go-back:hover {
	text-decoration:underline;
}

/* Notifications page*/
div#notifications {
	width: 498px;
	overflow:hidden;
	border:1px solid #dedee0;
	margin: 7px auto 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div#notifications div.pagination {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    text-align: right;
    right:5px;
    top:5px;
    float:right;
}
div.notifications-list {
	background: #fff;
	border-top:1px solid #dedee0;
	border-bottom:1px solid #dedee0;
	min-height: 400px;
}
div.notifications-list ul {
	margin-bottom: 20px;
}
div.notifications-list ul li {
	position:relative;
	height:70px;
	padding:0 10px;
}
div.notifications-list ul li.no-notification {
text-align: center;
line-height: 35px;
height:auto;
}
div.notifications-list ul li.unread {
	background-color:#ffffdd;
}
div.notifications-list ul li div.wrapper {
	padding-left: 60px;
	height:59px;
	overflow:hidden;
	border-bottom:1px solid #dedee0;
	position:relative;
	top:10px;
	left:0px;
}
div.notifications-list ul li img {
	width:50px;
	height:50px;
	position:absolute;
	left:0;
	top:0;
}
div.notifications-list ul li p.title {
	color:#657e19;
	font-weight:bold;
}
div.notifications-list ul li div.desc {
	padding-right: 120px;
	position:relative;
}
div.notifications-list ul li div.date {
	color:#a3a3a3;
	position:absolute;
	top:2px;
	right:25px;
	font-size:11px;
}
div.notifications-list ul li div.action {
	position:absolute;
	top:0;
	right:0;
}

/* Notification */
.notice { line-height:30px; margin:5px auto; padding:0 10px!important; border:1px solid #999;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position:relative; }
.notice h2 { margin:10px 0 5px 0; }
.notice p {  }
.notice ul { padding-left: 18px; }
.notice ul li { list-style:disc!important; }
.notice ol li { list-style:decimal!important; }
.notice a { text-decoration:underline; font-weight:bold; }
.notice a.close{ background: url(../../images/bg/notice_close.png) no-repeat top left; width: 10px; height: 10px; display: block; position: absolute; top: 10px; right: 10px; cursor:pointer; text-indent:-9000px; }
.notice.success { background-color:#efffbd; border-color:#cbd7a8; }
.notice.success a { color:#444e26; }
.notice.error { background-color:#ffc7c1; border-color:#e4aaa5; }
.notice.error a { color:#7f2b2b; }
.notice.warning { background-color:#fff6a8; border-color:#d9ce6e; }
.notice.warning a { color:#6d6311; }