a {
	cursor:pointer;
}
.clear {clear:both;}
.asterisk { color:red; }
div.buttons p { position:relative; top:15px; text-align:center; }
div.buttons p.left { text-align:left; }
div.buttons p.right { text-align:right; }

.hidden-template {
	display: none;
}

.bt-go_page, .bt-add_app, .bt-addnew_app, .bt-create_page, .bt-edit, .bt-setting, .bt-delete, .bt-go, .bt-create_company, .bt-manage_page, .bt-setting_page, .bt-update_app, .bt-setting_app, .bt-go-cam, .bt-remove, .bt-block, .bt-label, .bt-orderby, .bt-apply, .bt-change_pic, .bt-update, .bt-close_account, .bt-setting_company, .bt-delete_company, .bt-delete_company-1, .bt-delete_page, .bt-upgrade_package, .bt-print-invoice, .bt-learn_more, .bt-continue, .bt-register-now, .bt-go_community, .bt-go_company, .bt-save_addmore, .bt-save_config, .bt-cancel, .bt-install_app, .bt-campaign_page, .bt-setting_campaign, .bt-view_reward {
	text-indent: -9000px;
	overflow:hidden;
}

/* Button */
.bt-go_dashboard {
	display: block;
	background-image: url(../../images/bg_fb/bg_button.png);
	cursor: pointer;
	border: none;
	color: transparent !important;
	text-indent: -9000px;
	overflow:hidden;
	margin: 0;
}
.bt-go_dashboard { width: 143px; height: 32px; background-position: 0 -313px; display: block; }
.bt-go_page { width: 122px; height: 32px; background-position: 0 0; }
.bt-add_app { width: 111px; height: 32px; background-position: 0 -42px; }


/* New botton */
.bt-pick, .bt-free-trial, .bt-choose-package, .bt-upgrade-package, .bt-package-setting, .bt-read-faqs,
.bt-apply, .bt-apply-to-signup-form, .bt-add-field-from-list, .bt-create-own-field, .bt-remove-field,
.bt-go-facebook, .bt-view-all-apps, .bt-learn-more-campaign, .bt-addnew_campaign, .bt-installed-app,
.bt-create-account {
	display: block;
	background: url(../../images/bg/bg_button_2.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent !important;
	text-indent: -9000px;
	overflow:hidden;
	margin: 0;
}
.bt-pick { width: 64px; height: 25px; background-position: 0 0; }
.bt-free-trial { width: 183px; height: 34px; background-position: 0 -27px; }
.bt-choose-package { width: 184px; height: 35px; background-position: 0 -62px; }
.bt-upgrade-package { width: 184px; height: 35px; background-position: 0 -98px; }
.bt-package-setting { background-position: 0 -135px; height: 34px; width: 157px; }
.bt-read-faqs { width: 146px; height: 32px; background-position: 0 -170px; }
.bt-apply { width: 92px; height: 40px; background-position: 0 -204px; }
.bt-apply-to-signup-form { width: 237px; height: 36px; background-position: 0 -241px; display:inline-block; }
.bt-add-field-from-list { width: 296px; height: 40px; background-position: 0 -277px; display:inline-block; } 
.bt-create-own-field { width: 296px; height: 40px; background-position: 0 -318px; display:inline-block; }
.bt-remove-field { width: 15px; height: 15px; background-position: -284px -1px; display:inline-block; }
.bt-installed-app { width:60px; height:24px; background-position: -129px 0; display:inline-block; }
.bt-create-account { width: 230px; height: 43px; background-position: 0 -478px; display: inline-block; }

.bt-go_user_profile, .bt-go_user_fb, .icon-star-white, .icon-happy-white, .icon-star-green, .icon-happy-green, .icon-user-card {
	display: block;
	background: url(../../images/bg/bg_main_2.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent !important;
	text-indent: -9000px;
	overflow:hidden;
	margin: 0;
}
.bt-go_user_profile { width: 152px; height: 32px; background-position: 0 0; }
.bt-go_user_fb { width: 152px; height: 32px; background-position: 0 -33px; }
.bt-go-facebook { width: 131px; height: 32px; background-position: -160px -134px; }
.bt-view-all-apps { width: 231px; height: 42px; background-position: 0 -359px; }
.bt-learn-more-campaign { width: 231px; height: 42px; background-position: 0 -402px; }
.bt-addnew_campaign { width: 175px; height: 32px; background-position: 0 -445px; }
.icon-star-green { width: 12px; height: 13px; background-position: -172px -2px; display:inline-block; cursor: default; } 
.icon-happy-green { width: 12px; height: 13px; background-position: -172px -16px; display:inline-block; cursor: default; }
.icon-star-white { width: 12px; height: 13px; background-position: -157px -2px; display:inline-block; cursor: default; }
.icon-happy-white { width: 12px; height: 13px; background-position: -157px -16px; display:inline-block; cursor: default; }
.icon-user-card { width: 38px; height: 27px; background-position: -187px 0; display: inline-block; }

/* Packages home */
div.wrapper-package { background-color: #494949; }
div.packages-intro-text { color:#d3d3d3; height: 60px; margin-bottom:20px; font-size:16px; font-weight:bold; border-bottom:1px solid #5c5c5c; }
div.packages-intro-text h2 { color:#FFF; font-size:20px; }

ul#package_key { float:left; width:190px; padding-right:10px; overflow:hidden; color:#e2e2e2; text-align:right; font-weight:bold;}
ul#package_key li { border-bottom:1px solid #5f5f5f; }
ul#package_key li.package_price { height:82px; }
ul#package_key li.package_price p { font-size:26px; position:relative; top:47px;}
ul#package_key li.feature { height:35px; line-height:36px;}
ul#package_key li.package_detail { height:70px; line-height:36px;}

div.packages {float:left; margin-bottom:20px;}
ul.package { float:left; width:232px; overflow:hidden; }
ul.package.last-child { width:229px; overflow:hidden; }
ul.package li { font-weight:bold; text-align:center; }
ul.package li.package_name, ul.package li.package_price, ul.package li.feature, ul.package li.buy { background-image:url(../../images/bg/package_bg.png); background-repeat:no-repeat; }
ul.package li.package_name { height:43px; }
ul.package li.package_name p { height:25px; line-height:25px; text-align:left; position:relative; top:10px; left:10px; font-size:14px; }
ul.package li.package_name p a.bt-pick { position:absolute; top:-1px; left:148px; }
ul.package li.package_price { width:229px; overflow:hidden; background-position: -693px -46px; }
ul.package li.package_price p { display:block; color:#060606; height:40px; width:229px; background-position:7px -14px; background-repeat:no-repeat; text-align:right; font-size:24px;}
ul.package li.package_price p span { position:relative; top:5px; right:4px }
ul.package li.package_price p span small { font-size:60%; }
ul.package li.feature { height:36px; background-color:#FFF; background-position:-693px -87px; border-right: 3px solid #909090;}
ul.package li.feature p { line-height:35px; width:229px; background-color:#FFF; border-bottom: 1px solid #e7e7e7;}
ul.package li.package_detail { height:71px; overflow:hidden; font-weight:normal; background-color:#FFF; border-right: 3px solid #909090; }
ul.package li.package_detail p { line-height:15px;}
ul.package li.package_detail a.more { color:#5e6f2a; line-height: 40px; font-weight:bold; }
ul.package li.buy { height:72px; background-position:-925px bottom; position:relative }
ul.package li.buy p { text-align:center; }
ul.package li.buy a.payment-pop { position:absolute; left:22px;}
ul.package li.buy a.unsubscribe { color:#797979; font-size:11px; text-decoration:underline; }

ul.package:first-child li.feature { padding-left:10px;}
ul.package:first-child li.feature p { width:219px; border-bottom: 1px solid #e7e7e7;}
ul.package:first-child li.buy { background-position:-693px bottom; }
ul.last-child li.feature { padding-right:10px; border-right:0; }
ul.last-child li.feature p { width:219px;}
ul.last-child li.buy { background-position:-1157px bottom; }

ul.selected li.feature { background-position:left -87px; }
ul.selected li.feature p { background-color:#cbcbcb; }
ul.selected li.buy { height:72px; background-position:-232px bottom; }
ul.selected:first-child li.buy { background-position:left bottom; }
ul.selected.last-child li.buy { background-position:-464px bottom; }

div.remark { width: 902px; padding: 20px 0 10px; margin: 0 auto; position: relative; }
div.more-info { position:absolute; top:20px; right:0; width:146px; text-align:center; }
div.more-info a { margin-top:5px;}

/* FancyBox Hack */
#fancybox-outer {
	border: 8px solid #B5CA6E!important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#fancybox-close {
	top: -20px!important;
	right: -20px!important;
}

/* Popup */
div.popup_fb-connect, div.popup_select-destination, div.popup_select-company, div.popup_create-company, div.popup_add-app,
div.popup_payment, div.popup_payment-complete
{
	-webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
	background: #fff;
	padding: 20px 20px 20px;
	border:none!important;
	border-radius: 0 	!important;
}
h2.in-popup {
	font-size: 24px;
	font-family: Myriad Pro;
	font-weight: normal;
	padding: 0 0 5px;
	border-bottom: 1px dotted #A6A6A6;
	margin: 0 0 10px;
}

/* Popup FB connect */
div.popup_fb-connect {
	padding: 20px 40px 20px 40px;
	width:auto;
	font-weight:bold;
}
div.popup_fb-connect > div {
	width: 100%;
	padding: 5px;
}

/* Popup Payment form */
div.popup_payment {
	width:380px;
	color: #424241;
}
#package-image {
	float:left;
	width:90px;
	height:90px;
	overflow:hidden;
}
#package-detail {
	float:left;
	padding-left:15px;
	width: 275px;
	height: 120px;
}
#package-detail div.selected-package {
	border-bottom:1px solid #ddd;
}
#package-detail div.selected-package select {
	background: transparent;
	width: 280px;
	padding: 5px 5px 5px 0;
	border: none;
	font-weight: bold;
	height: 34px;
}
#package-detail p {
	margin-top:10px;
}
#package-detail p span {
	text-align:right;
	display:inline-block;
	width: 100%;
}
#package-detail p span b {
	float:left;
}

#select-payment {
	border-top:1px solid #ddd;
}
#select-payment h3 {
	margin:10px 0;
	font-size: 18px;
}
#select-payment ul {
	position:relative;
	left: 20px;
}
#select-payment ul li {
	margin: 10px 0;
}
#select-payment ul li input[name="payment_method"] {
	position: relative;
	top: 2px;
	left: -20px;
}
#select-payment ul li label {
	position: relative;
	left: -15px;
	font-weight:bold;
}
#select-payment ul li p {
	margin-top: 10px;
	line-height: 35px;
	position: relative;
	left: 1px;
}
#select-payment ul li.credit_card img {
	position: absolute;
	left: 80px;
	top: 20px;
}
#select-payment ul li.credit_card input[name=credit_card_number] {
	width:174px;
	height:20px;
}
#select-payment ul li.credit_card input[name="credit_card_expire_month"],
#select-payment ul li.credit_card input[name="credit_card_expire_year"],
#select-payment ul li.credit_card input[name="credit_card_csc"]
 {
	text-align:center;
	width:40px;
	height:20px;
}
#select-payment ul li.credit_card span {
	display:inline-block;
}
#select-payment ul li.credit_card span.card_number {
	width:125px;
}
#select-payment ul li.credit_card span.exp_date {
	width:96px;
}
#select-payment ul li.credit_card span.slash {
	padding:0 6px;
}
#select-payment ul li.credit_card span.csc {
	padding:0 5px 0 23px;
}

/* Popup Company thanks -- after signup or payment complete */
div.popup_company-thanks {
	padding: 20px;
	width:auto;
	font-weight:bold;
	color: #424241;
}
div.popup_company-thanks p.thanks,
div.popup_payment-complete p.thanks {
	color:#4c5b1a;
	font-size:16px;
	font-weight:bold;
}
div.popup_company-thanks p.message,
div.popup_payment-complete p.message {
	font-weight:bold;
	margin:0!important;
}

/* Popup go to Facebook */
#popup-goto-facebook { height: 472px; width: 650px; }
#popup-goto-facebook div.wrapper { padding-left:412px; position:relative; }
#popup-goto-facebook div.wrapper>img { position:absolute; left:0; }
#popup-goto-facebook div.wrapper>p.title { font-weight:bold; font-size:15px; color:#65703f; }
div.goto-facebook {
	margin:15px 0;
	min-width: 380px;
}
div.goto-facebook p {
	margin:15px 0;
	line-height:20px;
}
div.goto-facebook p a.bt-go-facebook {
	margin-bottom:15px;
}

/* Popup Billing Detail */
table.billing {
	width:557px;
	margin:10px auto 20px auto;
	border-collapse:collapse;
	border:1px solid #dedede;
}
table.billing th {
	background-color:#383838;
	color:#fff;
	line-height:30px;
	text-align:left;
	padding:0 10px;
}
table.billing td {
	line-height:30px;
	padding:0 10px;
}
table.billing tfoot td {
	background-color:#f7f7f7;
	border:1px solid #dedede;
}
.billing-detail.print {
	width:1200px;
	margin:0 auto;
	padding:120px 0;
	height:1500px;
	background-color:#fff;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.8);
	-moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.8);
	box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.8);
}
.billing-detail.print td {
	background-color:#fff;
}
table.billing.print th {
	border:1px solid #dedede;
	background-color:#FFF;
	color:#000;
}
table.billing.print tfoot td {
	background-color:#FFF;
}
div.print-bar {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 990;
}
div.print-bar button {
	font-weight: bold;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
	-webkit-user-select: none;
	background: -webkit-linear-gradient(#FAFAFA, gainsboro);
	border-radius: 3px;
	border: 1px solid #808080;
	cursor: pointer;
	margin: 0;
	padding: 4px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
div.print-bar button:hover {
	-webkit-box-shadow: inset 0 1px 2px white, 0 2px 4px rgba(0, 0, 0, .2);
	background: -webkit-linear-gradient(#fff, #e6e6e6);
	/* Using opacity 0.99 instead of 1 because of http://crbug.com/68370 */
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.99);
}
div.print-bar button:active {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
	background: -webkit-linear-gradient(#f0f0f0, #bebebe);
	border-color: #808080;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
@media print{
	body { background-color:#FFF; }
	h2,button {display:none;}
}



/* Member list */
.popup_select-company > div[class^="detail-list"] p.thumb {
	width:50px!important;
	height:50px;
	overflow:hidden;
}
div[class^="detail-list"] p.thumb img,
div.pic-profile p.pic img
{
	width:50px;
	height:50px;
	overflow:hidden;
	border:0!important;
}
div.wrapper-details-member > div.details p.thumb {
	width: 50px;
}
.member-menu-btm { padding: 0; min-height: 40px; }
div.member-menu-top > .member-check, 
div.member-menu-btm > .member-check { display: inline-block; }
.bt-member { padding-top: 0; display: inline-block; position: relative; top: 7px; }

/* Company setting */
.form01 div.pic-profile p.pic img {
	width:50px;
	height:50px;
	overflow:hidden;
}
div.admin-list ul li p img {
	width:100px;
	height:100px;
	overflow:hidden;
}
div.admin-list p.popup {
	margin: 10px!important;
}
ul.form01 > li {
	width:auto!important;
	height:auto!important;
}
div.company-app ul li p img {
	width:64px;
	height:64px;
	overflow:hidden;
}

/* Select Company Box*/
div.popup_select-company > ul > li div.detail-list h2 a {
	color: #677D2A;
}
div.popup_select-company div[class^="detail-list"] p.thumb img, div.pic-profile p.pic img
{
	width:80px;
	height:80px;
	overflow:hidden;
}

/* Company dashboard */
div.loading  {
	display: block;
	background-color:#FFFFFF;
	border-radius:6px;
	padding:6px;
}
div.dragging-page ul li p
{
	padding: 0 5px 5px 0;
}
div.dragging-page ul li p.pagename
{
	text-align: center;
	padding: 0 0 7px 0;
	overflow: hidden;
	width: 82px;
	height: 17px;
	line-height: 12px;
	word-wrap: break-word;
}
div.dragging-app ul li p
{
	padding: 0 5px 3px 5px;
}
div.dragging-app ul li p.appname {
	text-align: center;
	padding: 0 0 7px 8px;
	overflow: hidden;
	width: 64px;
	height: 17px;
	line-height: 12px;
	word-wrap: break-word;
}
div.dragging-app ul li p span.button a.bt-setting_app {
	top: 20px;
	position: absolute;
	left: 6px;
}
div.dragging-page ul li p span.button a.bt-installed-app {
	position:relative;
	top:25px;
	left: 10px;
}

/* Go to bar */
div.header > div div.goto > div ul li a {
	color:#FFF!important;
}
div.header > div div.goto > div ul li p a {
	font-weight:normal;
}
div.header > div div.goto > div ul li {
	min-height: 50px;
}
.bt-create_company {
	margin: 8px!important;
}
div.header > div > ul > li.fb {
	background:none!important;
}

/* Company application */
p.alert, div.strip {
	clear:both;
}

/* Create company */
div.popup_create-company  {
	width:320px;
}
div.popup_create-company  h2 {
	margin-bottom:10px;
}
div.popup_create-company  ul {
	padding: 0 0 0 95px;
	position: relative;
}
div.popup_create-company ul>li{
	margin-bottom: 10px;
}
div.popup_create-company ul>li.pic {
	position: absolute;
	left: 0;
	top: 0;
}
div.popup_create-company ul>li.pic div.upload-pic {
	text-align:center;
}
div.popup_create-company ul > li a {
	color: #65781F;
	text-decoration: underline;
}
div.popup_create-company ul > li > span {
	position: absolute;
	top: -10px;
	right: 2px;
	color: #DB3332;
	font-size: 11px;
}
div.popup_create-company ul>li input[type="text"] {
	width: 210px;
	border: 1px solid #c5c5c5;
	padding: 0 5px;
	height: 25px;
}
div.popup_create-company ul>li textarea {
	width: 210px;
	height: 105px;
	border: 1px solid #c5c5c5;
	padding: 5px;
}

/* Pagination */
.paging span.current {
	display: block;
	background: url(../../images/bg/bg_main.png) no-repeat;
	float:left;
	width:21px;
	height:21px;
	text-align:center;
	padding:3px 2px 0 2px;
	background-position:-30px -250px;
	color:fff;
}

/* Setting > Left menu */
div.menuleft > ul > li a {
	overflow:hidden;
}
div.menuleft > ul > li > a.active {
	background: url(../../images/bg/bg_menuleft-01.png) right;
	text-decoration: none;
}
div.menuleft > ul > li > ul > li > a.active {
	background: url(../../images/bg/bg_menuleft-02.png) right;
	text-decoration: none;
}
div.menuleft > ul > li > ul > li > ul > li > a.active {
	background: url(../../images/bg/bg_menuleft-03.png) right;
	text-decoration: none;
}

/* Setting > Package/Billing */
div.box-current_package div.detail p.thumb {
	background-position: 4px 0px;
	background-repeat:no-repeat;
	width: 75px;
	height: 75px;
}
div.box-current_package div.package-overlay {
	top:171px;
}
div.box-current_package div.package-overlay ul > li
{
	font-size:10px;
	width:90px;
}

/* Page config (Sign up Fields) */
#signup-fields ul.fields {
	margin: 20px 0;
	position:relative;
}
#signup-fields ul.fields li {
	position:relative;
	margin:7px 0;
	background-color:#f3f3f3;
	border:1px dashed #c9c9c9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#signup-fields ul.fields li.no-field {
	background-color: white;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #54661B;
	font-weight: bold;
}
#signup-fields ul.fields li div.left {
	display:inline-block;
	padding-left:177px;
	width:300px;
	position:relative;
	background-color:#FFF;
	border-right:1px solid #d7d7d7;
}
#signup-fields ul.fields li div.left label.title {
	text-align: right;
	display: inline-block;
	width: 170px;
	overflow: hidden;
	position: absolute;
	top: 8px;
	left: 0px;
	line-height:20px;
}
#signup-fields ul.fields li div.left div.inputs {
	margin:7px 0;
	line-height:20px;
}
#signup-fields ul.fields li div.left div.inputs label {
	padding-right:5px;
	display: inline-block;
}
#signup-fields ul.fields li div.left input[type=text],
#custom-fields ul.fields li div.left input[type=text] {
	height:20px;
}
#signup-fields ul.fields li div.left input[type=checkbox],
#signup-fields ul.fields li div.left input[type=radio] {
	top: 2px;
	position: relative;
}
#signup-fields ul.fields li div.right {
	position: absolute;
	right: 7px;
	text-align: right;
	top: 10px;
}
#signup-fields ul.fields li div.right label {
	height:20px;
}
#signup-fields ul.fields li div.right input[type=checkbox] {
	top: 2px;
	position: relative;
}
#signup-fields span.separator,
#custom-fields span.separator {
	padding:0 4px 0 5px;
	color:#a5a5a5;
}

#default-fields p { margin: 20px 0; font-weight:bold;}
#default-fields ul { margin: 0 30px;}
#default-fields li { display:inline-block; width:178px; height:30px; overflow:hidden; }
#default-fields li input[type=checkbox] { position:relative; top:2px;}
#default-fields li label { padding-left:5px;}

#default-fields, #custom-fields { width:600px; }
#custom-fields ul.fields {
	margin-top: 20px;
}
#custom-fields ul.fields li {
	position:relative;
	margin:7px 0 0 0;
	background-color:#fff;
	border:1px dashed #c9c9c9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#custom-fields ul.fields li div.left {
	display:inline-block;
	width:470px;
	position:relative;
	padding:0 10px;
}
#custom-fields ul.fields li div.left label {
	display: inline-block;
	width: 60px;
	padding:0 10px;
	overflow: hidden;
	line-height:20px;
	margin:10px 0;
}
#custom-fields ul.fields li div.left select {
	width:140px;
	height:24px;
}
#custom-fields ul.fields li div.right {
	position: absolute;
	right: 14px;
	text-align: right;
	top: 10px;
}
#custom-fields ul.fields li div.right input[type=checkbox] {
	top: 2px;
	position: relative;
}
#custom-fields ul.fields li div.options {
	background-color:#fffadd;
	padding:0 10px 0 75px;
}
#custom-fields ul.fields li div.options ul li {
	margin:0;
	border:none;
	background-color:transparent;
}
#custom-fields ul.fields li div.options ul li.add-option input[type=text] {
	margin-bottom: 10px;
	background-color:#fffdf1;
	border:1px solid #dcdacf;
	padding:1px;
}
#custom-fields ul.fields li div.options input[type=text] {
	margin-top: 10px;
}
#custom-fields ul.fields li div.options input[type=checkbox],
#custom-fields ul.fields li div.options input[type=radio] {
	position: absolute;
	left: -20px;
	top: 13px;
}
#custom-fields a.bt-remove-option{ background: url(../../images/bg/notice_close.png) no-repeat top left; width: 10px; height: 10px; display: inline-block; position: relative; left: 4px; cursor:pointer; text-indent:-9000px; }
#custom-fields a.add-other { text-decoration:underline; }
p.apply { text-align:center; border-top:1px solid #e6e6e6; }
p.apply a.bt-apply-to-signup-form { margin-top:12px; }
#custom-fields a.add-more-field { margin:20px 0 20px 10px; display:block; text-decoration:underline; color:#54661b; font-weight:bold }

/* Page dashboard */
#page-dashboard div.box-information {
	background: #494949 url(../../images/bg/bg_liney02.gif) 579px 0 repeat-y;
}
#page-dashboard .bt-add_app, #page-dashboard .bt-go_page { display:inline-block;}

#page-dashboard div.box-information div.details {
	width: 538px;
}
#page-dashboard div.box-information div.information {
	width: 340px;
}
#page-dashboard div.box-information div.information ul {
	width:150px;
	float:left;
	background: url(../../images/bg/bg_linex01.gif) bottom repeat-x;
}
.wrapper-content .blank-tab {
	background-position: right bottom;
	background-repeat: no-repeat;
	padding:0 25px;
	position:relative;
	min-height: 370px;
}
.wrapper-content .blank-tab h2 { font-size: 24px; font-family: Myriad Pro; font-weight: normal; padding: 0 0 5px; margin: 15px 0 0; }
.wrapper-content .blank-tab p.sub-title { color:#63791c; line-height: 15px; margin: 0; }
.wrapper-content .blank-tab div.new-item { display:block; position: absolute; top: 15px; right: 15px; }
.wrapper-content .blank-tab hr { border:0; color: #dcdcdc; background-color: #dcdcdc; height: 1px; width: 900px; position: relative; left: -25px; top:10px; }
.wrapper-content .blank-tab h3 { font-size: 14px; padding: 0 0 5px; margin: 30px 0 0; color:#63791c; }
.wrapper-content .blank-tab ul { margin:10px 0 25px 0; padding:0 20px; width:350px; }
.wrapper-content .blank-tab ul li { list-style:disc; margin:10px 0; }

/* User landing page */ 
div.box-information div.info {
	padding-left:160px;
}
div.box-information div.information > ul {
	padding:0;
}
div.box-information div.information > ul > li span div.icon-star-white { position:relative; left: 5px; }
div.box-information div.information > ul > li span div.icon-happy-white { position:relative; left: 5px; }
div.box-information div.recent-app {
	position:relative;
	top:25px;
}
div.box-information div.recent-app fieldset {
	border-top:1px solid #9c9c9c;
	padding-left:15px;
}
div.box-information div.recent-app legend {
	padding:0 10px;
	font-weight:bold;
}
div.box-information div.recent-app .app-icon-list .app-name {
	color:#fff;
}
div.box-information div.information div.app-and-campaigns p {
	color:#fff;
	margin:15px 0;
	font-weight:normal;
}
div#user-tabs h2 {
	margin-bottom:15px;
}
div.white-box-01 {
	border:1px solid #dcdcdc;
	background-color:#fff;
	padding:0 10px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}
div.white-box-01 p {
	line-height:15px;
	margin:10px 0 5px 0;
}
div#user-tabs div.user-info {
	padding:0 30px;
	min-height: 400px;
}
div#user-tabs div.user-info ul {
	width:500px;
	margin:20px auto;
}
div#user-tabs div.user-info ul li {
	padding-left:190px;
	position:relative;
	line-height:30px;
}
div#user-tabs div.user-info label {
	width:160px;
	display:inline-block;
	font-weight:bold;
	text-align:right;
	position:absolute;
	left:0;
}
div#user-tabs div.user-info fieldset {
	border-top: 5px solid #e1e1e1;
	padding-left:20px;
	margin-top:20px;
}
div#user-tabs div.user-info legend {
	padding: 0 10px;
	font-size:20px;
	color:#555555;
}
div#user-tabs div.activities-table {
	position:relative;
}
div#user-tabs div.activities-table-head {
	position:relative;
	width:100%;
	background-color:#383838;
	height:30px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div#user-tabs div.activities-table-footer {
	position:relative;
	top:-30px;
	width:901px;
	background-color:#e1e1e1;
	border:1px solid #dcdcdc;
	border-top:0;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
div#user-tabs div.activities-table table {
	position:relative;
	top:-30px;
	width:100%;
	margin:0;
	border-collapse:collapse;
	
}
div#user-tabs div.activities-table table tbody {
	border:1px solid #dedede;
}
div#user-tabs div.activities-table table th {
	color:#fff;
	line-height:30px;
	text-align:left;
	padding:0 10px;
}
div#user-tabs div.activities-table table td {
	line-height:30px;
	padding:0 10px;
	background-color:#fff;
}

/* Noom : copied from api_app_bar.css */
div.header ul.menu li ul li.last-child {
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
}
div.header ul.menu {
position:relative;
}
div.header ul.menu > li.notification a.amount {
display:block;
width:35px;
height:35px;
background:url(../../../assets/images/bg/bg_main_2.png) no-repeat -225px 7px;
text-decoration:none;
position:relative;
padding:0px 0px 0px 0px;
}

div.header ul.menu > li.notification a.amount span {
font-size:10px;
background:rgba(201,25,28,0.7);
color:#fff;
position:absolute;
bottom:2px;
right:5px;
padding:1px 2px;
}

div.header ul.menu>li.notification>ul {
background-color:#292929;
display:none;
width:250px;
overflow:hidden;
border-top:1px solid #1C1C1C;
position:absolute;
top:40px;
right:0;
z-index:999;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
}

div.header ul.menu > li.notification > ul li {
font-size:11px;
padding: 0 5px;
}
div.header ul.menu > li.notification li a {
position:relative;
display:block;
padding-left:60px;
color:#FFF;
text-decoration:none;
color:#FFF;
min-height: 60px;
}
div.header ul.menu > li.notification li a img {
width:50px;
height:50px;
border:0;
position:absolute;
left:0;
top:5px;
}
div.header ul.menu > li.notification li a p.message {
line-height: 16px;
padding-top: 5px;
}
div.header ul.menu > li.notification li a p.time {
color:#d6ff90;
line-height:16px;
}
div.header ul.menu > li.notification ul li.no-notification {
color: #fff;
text-align: center;
line-height: 35px;
}
div.header ul.menu > li.notification ul li.no-notification:hover {
background-color:transparent;
}
div.header ul.menu > li.notification li.unread{
background-color:#3d3d3d;
}

div.header ul.menu > li.notification li.unread:hover {
background-color:#4e4e4e;
}

div.header ul.menu > li.notification li.last-child {

background-color:#555353;
}
div.header ul.menu > li.notification li.last-child a {
text-align: center;
text-shadow: #000 1px 1px 3px;
display: block;
text-decoration: none;
color: white;
font-weight: bold;
padding: 5px 10px 5px 0px;
min-height: initial;
line-height: 25px;
}

.reward-item-list {
	border:1px solid #f3f3f3; 
	border-top:1px solid transparent;
	padding:0 20px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.reward-item {
	border:1px solid #d7d7d7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.reward-item.draft {
	background-color: #f1f1f1;
}
.reward-item .section.first {
	border-top:1px solid #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.reward-item .buttons {visibility:hidden;}
.reward-item:hover .buttons {visibility: visible;}

.reward-item-form .item-image-upload {
	width:130px;
	height:30px;
	line-height:30px;
	color: #fff;
	overflow: hidden;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
	zoom: 1;
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}
.reward-item-form .item-image-upload .icon.edit {
	margin-top:3px;
}
.reward-item-form .file-upload{
	position: absolute;
	top:0;
	right:0;
	margin:0;
	padding:0;
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 118px;
	cursor: pointer;
}
.reward-item-form .item-info {line-height:18px;padding:0 10px; width:164px;}

.reward-item-form .item-info>*:first-child{margin-top:7px;}
.reward-item-form input[type="text"],
.reward-item-form textarea {
	color:#454545;
	border:1px solid #c5c5c5;
	padding:4px 5px!important;
	box-shadow:inset 0 1px 1px #e4e4e4;
}
.reward-item-form textarea {
	padding:10px 5px;
	resize:vertical;
}
.reward-item-form select {
	height:26px;
}
.reward-item-form .black-label {
	font-weight:bold;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align: top;
	width:125px;
	line-height: 18px;
	margin-top: 4px;
}
.reward-item-form .item-info input {
	width:152px;
	margin-bottom:6px;
}
.reward-item-form input[name="point"] {
	width:132px;
	margin-bottom:10px;
	display: inline-block;
	color:#dcbb26;
	font-weight:bold;
	padding-left:25px!important;
	background-image:url(../../images/bg_fb/bg_main.png);
	background-position: 5px -256px;
	background-size: 232px;
	background-repeat: no-repeat;
}

.reward-item-form .item-info {
	background-color:#fff;
	border:1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.terms-and-conditions {
	width:480px;
}
.terms-and-conditions textarea {
	width:468px;
	height:400px;
	color:#454545;
	border:1px solid #c5c5c5;
	box-shadow:inset 0 1px 1px #e4e4e4;
	padding:10px 5px;
	resize:vertical;
}

/* Challenge settings */
.challenge-list {margin:10px 0;}
.challenge-list .challenge {
	line-height:24px;
}
	.challenge .challenge-name {
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		vertical-align:top;
		text-decoration:underline;
		width:200px;
	}
	.challenge .challenge-start-date {
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		vertical-align:top;
		padding-left:20px;
		color:#555;
	}
	.challenge .challenge-end-date {
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		vertical-align:top;
		color:#555;
	}
.challenge-preview {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;
	width:320px;
	min-height:480px;
	background-color:#ccc;
	position: relative;
}
	.challenge-preview .wrapper {
		padding: 0 10px;
		height:100%;
		position: relative;
	}
		.challenge-preview .challenge-preview-name {
			margin:10px 0;
		}
		.challenge-preview .challenge-preview-name input {
			border: 0;
			width: 96.75%;
			padding:5px;
			background-color:transparent;
			font-size:20px;
			font-weight:bold;
		}
		.challenge-preview .challenge-preview-name input:focus {
			background-color:#fdffd5;
		}
		.challenge-preview .challenge-preview-image .image {
			display:block;
			width:100%;
			height:300px;
			background-color:#fff;
		}
		.challenge-preview .challenge-preview-image input {
			float:left;
		}
		.challenge-preview .challenge-preview-desc {
			margin:10px 0;
		}
		.challenge-preview .challenge-preview-desc textarea {
			border: 0;
			width: 96.75%;
			padding:5px 0;
			background-color:transparent;
			resize:vertical;
			height:auto;
			min-height:42px;
			max-height:135px;
		}
		.challenge-preview .challenge-preview-desc textarea:focus {
			background-color:#fdffd5;
			padding:5px;
		}
		.challenge-preview .challenge-preview-reward {
			
		}
		.challenge-preview .challenge-preview-actions {
			margin-top:10px;
			min-height: 110px;
		}
		.challenge-preview .challenge-preview-qr-code {
			width:100px;
			height:100px;
			background-color:#fff;
			position: absolute;
			bottom:10px;
			right:10px;
		}
.challenge-properties-list {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	vertical-align:top;
	width:276px;
	height:480px;
}
	.challenge-properties-list .challenge-property {
		height:36px;
		-webkit-transition: height .25s linear;
		-moz-transition: height .25s linear;
		transition: height .25s linear;
		overflow: hidden;
	}
	.challenge-properties-list .challenge-property.active {
		height:372px;
	}
		.challenge-property .challenge-property-name {
			cursor: pointer;
			color:#fbfbfb;
			background-color:#555;
			padding:10px;
		}
		.challenge-property .challenge-property-box {
			padding: 15px;
			background-color:#fbfbfb;
			height:307px;
		}