a {
	cursor:pointer;
}

.fl {float: left;}
.fr {float: right;}
.clear {clear:both;}
.txt-center {text-align:center;}
.asterisk { color:red; }

.hidden-template {
	display: none;
}

.bt-go_page, .bt-add_app, .bt-addnew_app, .bt-create_page, .bt-edit, .bt-setting, .bt-delete, .bt-go, .bt-create_company, .bt-manage_page, .bt-setting_page, .bt-update_app, .bt-setting_app, .bt-go-cam, .bt-remove, .bt-block, .bt-label, .bt-orderby, .bt-apply, .bt-change_pic, .bt-update, .bt-close_account, .bt-setting_company, .bt-delete_company, .bt-delete_company-1, .bt-delete_page, .bt-upgrade_package, .bt-print-invoice, .bt-learn_more, .bt-continue, .bt-register-now, .bt-go_community, .bt-go_company, .bt-save_addmore, .bt-save_config, .bt-cancel, .bt-install_app, .bt-campaign_page, .bt-setting_campaign, .bt-view_reward {
	text-indent: -9000px;
	overflow:hidden;
}

/* Notification */
.notice { line-height:30px; margin:5px auto; padding:0 10px!important; border:1px solid #999;  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position:relative; }
.notice h2 { margin:10px 0 5px 0; }
.notice p {  }
.notice ul { padding-left: 18px; }
.notice ul li { list-style:disc!important; }
.notice ol li { list-style:decimal!important; }
.notice a { text-decoration:underline; font-weight:bold; }
.notice a.close{ background: url(../../images/bg/notice_close.png) no-repeat top left; width: 10px; height: 10px; display: block; position: absolute; top: 10px; right: 10px; cursor:pointer; text-indent:-9000px; }
.success { background-color:#efffbd; border-color:#cbd7a8; }
.success a { color:#444e26; }
.error { background-color:#ffc7c1; border-color:#e4aaa5; }
.error a { color:#7f2b2b; }
.warning { background-color:#fff6a8; border-color:#d9ce6e; }
.warning a { color:#6d6311; }

/* New botton */
.bt-pick, .bt-free-trial, .bt-choose-package, .bt-upgrade-package, .bt-package-setting, .bt-read-faqs {
	display: block;
	background: url(../../images/bg/bg_button_2.png) no-repeat;
	cursor: pointer;
	border: none;
	color: transparent !important;
	text-indent: -9000px;
	overflow:hidden;
}
.bt-pick {
	width: 64px;
	height: 25px;
	background-position: 0 0;
}
.bt-free-trial { 
	width: 183px;
	height: 34px;
	background-position: 0 -27px;
	margin: 0;
}
.bt-choose-package { 
	width: 184px;
	height: 35px;
	background-position: 0 -62px;
	margin: 0;
}
.bt-upgrade-package { 
	width: 184px;
	height: 35px;
	background-position: 0 -98px;
	margin: 0;
}
.bt-package-setting { 
	background-position: 0 -135px;
    height: 34px;
    margin: 0;
    width: 157px;
}
.bt-read-faqs { 
	width: 146px;
	height: 32px;
	background-position: 0 -170px;
	margin: 0;
}

/* Packages home */
div.wrapper-package { background-color: #494949; }
div.packages-intro-text { color:#d3d3d3; height: 60px; margin-bottom:20px; font-size:16px; font-weight:bold; border-bottom:1px solid #5c5c5c; }
div.packages-intro-text h2 { color:#FFF; font-size:20px; }

ul#package_key { float:left; width:190px; padding-right:10px; overflow:hidden; color:#e2e2e2; text-align:right; font-weight:bold;}
ul#package_key li { border-bottom:1px solid #5f5f5f; }
ul#package_key li.package_price { height:82px; }
ul#package_key li.package_price p { font-size:26px; position:relative; top:47px;}
ul#package_key li.feature { height:35px; line-height:36px;}
ul#package_key li.package_detail { height:70px; line-height:36px;}

div.packages {float:left; margin-bottom:20px;}
ul.package { float:left; width:232px; overflow:hidden; }
ul.package.last-child { width:229px; overflow:hidden; }
ul.package li { font-weight:bold; text-align:center; }
ul.package li.package_name, ul.package li.package_price, ul.package li.feature, ul.package li.buy { background-image:url(../../images/bg/package_bg.png); background-repeat:no-repeat; }
ul.package li.package_name { height:43px; }
ul.package li.package_name p { height:25px; line-height:25px; text-align:left; position:relative; top:10px; left:10px; font-size:14px; }
ul.package li.package_name p a.bt-pick { position:absolute; top:-1px; left:148px; }
ul.package li.package_price { width:229px; overflow:hidden; background-position: -693px -46px; }
ul.package li.package_price p { color:#060606; height:40px; width:229px; background-position:7px -14px; background-repeat:no-repeat; text-align:right; font-size:24px;}
ul.package li.package_price p span { position:relative; top:5px; right:4px }
ul.package li.package_price p span small { font-size:60%; }
ul.package li.feature { height:36px; background-color:#FFF; background-position:-693px -87px; border-right: 3px solid #909090;}
ul.package li.feature p { line-height:35px; width:229px; background-color:#FFF; border-bottom: 1px solid #e7e7e7;}
ul.package li.package_detail { height:71px; overflow:hidden; font-weight:normal; background-color:#FFF; border-right: 3px solid #909090; }
ul.package li.package_detail p { line-height:15px;}
ul.package li.package_detail a.more { color:#5e6f2a; line-height: 40px; font-weight:bold; }
ul.package li.buy { height:72px; background-position:-925px bottom; position:relative }
ul.package li.buy p { text-align:center; }
ul.package li.buy a.payment-pop { position:absolute; left:22px;}
ul.package li.buy a.unsubscribe { color:#797979; font-size:11px; text-decoration:underline; }

ul.package:first-child li.feature { padding-left:10px;}
ul.package:first-child li.feature p { width:219px; border-bottom: 1px solid #e7e7e7;}
ul.package:first-child li.buy { background-position:-693px bottom; }
ul.last-child li.feature { padding-right:10px; border-right:0; }
ul.last-child li.feature p { width:219px;}
ul.last-child li.buy { background-position:-1157px bottom; }

ul.selected li.feature { background-position:left -87px; }
ul.selected li.feature p { background-color:#cbcbcb; }
ul.selected li.buy { height:72px; background-position:-232px bottom; }
ul.selected:first-child li.buy { background-position:left bottom; }
ul.selected.last-child li.buy { background-position:-464px bottom; }

div.remark { width: 902px; padding: 20px 0 10px; margin: 0 auto; position: relative; }
div.more-info { position:absolute; top:20px; right:0; width:146px; text-align:center; }
div.more-info a { margin-top:5px;}

/* FancyBox Hack */
#fancybox-outer {
	border: 8px solid #B5CA6E!important;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#fancybox-close {
	top: -20px!important;
	right: -20px!important;
}

/* Popup */
div.popup_fb-connect, div.popup_select-destination, div.popup_select-company, div.popup_create-company, div.popup_add-app,
div.popup_payment, div.popup_payment-complete
{
	-webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
	background: #fff;
	padding: 20px 20px 20px;
	border:none!important;
	border-radius: 0 	!important;
}
h2.in-popup {
	font-size: 24px;
	font-family: Myriad Pro;
	font-weight: normal;
	padding: 0 0 5px;
	border-bottom: 1px dotted #A6A6A6;
	margin: 0 0 10px;
}

/* Popup FB connect */
div.popup_fb-connect {
	padding: 20px 40px 20px 40px;
	width:auto;
	font-weight:bold;
}
div.popup_fb-connect > div {
	width: 100%;
	padding: 5px;
}

/* Popup Payment form */
div.popup_payment {
	width:380px;
	color: #424241;
}
#package-image {
	float:left;
	width:90px;
	height:90px;
	overflow:hidden;
}
#package-detail {
	float:left;
	padding-left:15px;
	width: 275px;
	height: 120px;
}
#package-detail div.selected-package {
	border-bottom:1px solid #ddd;
}
#package-detail div.selected-package select {
	background: transparent;
	width: 280px;
	padding: 5px 5px 5px 0;
	border: none;
	font-weight: bold;
	height: 34px;
}
#package-detail p {
	margin-top:10px;
}
#package-detail p span {
	text-align:right;
	display:inline-block;
	width: 100%;
}
#package-detail p span b {
	float:left;
}

#select-payment {
	border-top:1px solid #ddd;
}
#select-payment h3 {
	margin:10px 0;
	font-size: 18px;
}
#select-payment ul {
	position:relative;
	left: 20px;
}
#select-payment ul li {
	margin: 10px 0;
}
#select-payment ul li input[name="payment_method"] {
	position: relative;
	top: 2px;
	left: -20px;
}
#select-payment ul li label {
	position: relative;
	left: -15px;
	font-weight:bold;
}
#select-payment ul li p {
	margin-top: 10px;
	line-height: 35px;
	position: relative;
	left: 1px;
}
#select-payment ul li.credit_card img {
	position: absolute;
	left: 80px;
	top: 20px;
}
#select-payment ul li.credit_card input[name=credit_card_number] {
	width:174px;
	height:20px;
}
#select-payment ul li.credit_card input[name="credit_card_expire_month"],
#select-payment ul li.credit_card input[name="credit_card_expire_year"],
#select-payment ul li.credit_card input[name="credit_card_csc"]
 {
	text-align:center;
	width:40px;
	height:20px;
}
#select-payment ul li.credit_card span {
	display:inline-block;
}
#select-payment ul li.credit_card span.card_number {
	width:125px;
}
#select-payment ul li.credit_card span.exp_date {
	width:96px;
}
#select-payment ul li.credit_card span.slash {
	padding:0 6px;
}
#select-payment ul li.credit_card span.csc {
	padding:0 5px 0 23px;
}

/* Popup Company thanks -- after signup or payment complete */
div.popup_company-thanks {
	padding: 20px;
	width:auto;
	font-weight:bold;
	color: #424241;
}
div.popup_company-thanks p.thanks,
div.popup_payment-complete p.thanks {
	color:#4c5b1a;
	font-size:16px;
	font-weight:bold;
}
div.popup_company-thanks p.message,
div.popup_payment-complete p.message {
	font-weight:bold;
	margin:0!important;
}


/* Member list */
.popup_select-company > div[class^="detail-list"] p.thumb {
	width:50px!important;
	height:50px;
	overflow:hidden;
}
div[class^="detail-list"] p.thumb img,
div.pic-profile p.pic img
{
	width:50px;
	height:50px;
	overflow:hidden;
	border:0!important;
}
div.wrapper-details-member > div.details p.thumb {
width: 50px;
}

/* Company setting */
.form01 div.pic-profile p.pic img {
	width:50px;
	height:50px;
	overflow:hidden;
}
div.admin-list ul li p img {
	width:100px;
	height:100px;
	overflow:hidden;
}
div.admin-list p.popup {
	margin: 10px!important;
}
ul.form01 > li {
	width:auto!important;
	height:auto!important;
}
div.company-app ul li p img {
	width:64px;
	height:64px;
	overflow:hidden;
}

/* Select Company Box*/
div.popup_select-company > ul > li div.detail-list h2 a {
	color: #677D2A;
}
div.popup_select-company div[class^="detail-list"] p.thumb img, div.pic-profile p.pic img
{
	width:80px;
	height:80px;
	overflow:hidden;
}

/* Company dashboard */
div.loading  {
	display: block;
	background-color:#FFFFFF;
	border-radius:6px;
	padding:6px;
}
div.dragging-page ul li p
{
	padding: 0 5px 5px 0;
}
div.dragging-page ul li p.pagename
{
	text-align: center;
	padding: 0 0 7px 8px;
	overflow: hidden;
	width: 82px;
	line-height: 12px;
}
div.dragging-app ul li p
{
	padding: 0 5px 3px 5px;
}
div.dragging-app ul li p.appname {
	text-align: center;
	padding: 0 0 7px 8px;
	overflow: hidden;
	width: 64px;
	line-height: 12px;
}

/* Go to bar */
div.header > div div.goto > div ul li a {
	color:#FFF!important;
}
div.header > div div.goto > div ul li p a {
	font-weight:normal;
}
div.header > div div.goto > div ul li {
	min-height: 50px;
}
.bt-create_company {
	margin: 8px!important;
}
div.header > div > ul > li.fb {
	background:none!important;
}

/* Company application */
p.alert, div.strip {
	clear:both;
}

/* Signup */
div.wrapper-register > div > div ul > li.pic div.img-wrapper {
	width:80px;
	height:80px;
	overflow:hidden;
}
div.wrapper-register > div > div ul > li.pic img {
	width:80px;
}
div.wrapper-register > div > div h2 {
	clear:both;
}
div.upload-pic {
	width:80px;
	height:20px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute;
}
div.upload-pic input {
	filter: alpha(opacity = 0);
	zoom:1;
	opacity:0;
	position:absolute;
	top:0;
	right:0;
}

/* Create company */
div.popup_create-company  {
	width:320px;
}
div.popup_create-company  h2 {
	margin-bottom:10px;
}
div.popup_create-company  ul {
	padding: 0 0 0 95px;
	position: relative;
}
div.popup_create-company ul>li{
	margin-bottom: 10px;
}
div.popup_create-company ul>li.pic {
	position: absolute;
	left: 0;
	top: 0;
}
div.popup_create-company ul>li.pic div.upload-pic {
	text-align:center;
}
div.popup_create-company ul > li a {
	color: #65781F;
	text-decoration: underline;
}
div.popup_create-company ul > li > span {
	position: absolute;
	top: -10px;
	right: 2px;
	color: #DB3332;
	font-size: 11px;
}
div.popup_create-company ul>li input[type="text"] {
	width: 210px;
	border: 1px solid #c5c5c5;
	padding: 0 5px;
	height: 25px;
}
div.popup_create-company ul>li textarea {
	width: 210px;
	height: 105px;
	border: 1px solid #c5c5c5;
	padding: 5px;
}

/* Pagination */
.paging span.current {
	display: block;
	background: url(../../images/bg/bg_main.png) no-repeat;
	float:left;
	width:21px;
	height:21px;
	text-align:center;
	padding:3px 2px 0 2px;
	background-position:-30px -250px;
	color:fff;
}

/* Setting > Package/Billing */
div.box-current_package div.detail p.thumb {
	background-position: 4px 0px;
	background-repeat:no-repeat;
	width: 75px;
	height: 75px;
}
div.box-current_package div.package-overlay {
	top:171px;
}
div.box-current_package div.package-overlay ul > li
{
	font-size:10px;
	width:90px;
}